[2018-12-28 20:51] christoball commented on #8
![data-cards-1st-mockup.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec958e22cf80a89dedac0ef54ee4d9244924783c14e1673295f127b54778154d555ca912595e43f5aa8e7ff7b16d78835c0ae587685e76ce3843bea4905dee5fee7fd616cfe3fe9846d2ea3d2fe68e8b493e1d051a8efe5e30a08b06.jpg)

[2019-01-02 17:45] adambreznicky commented on #7
this is a general share option of the catalog itself rather than a specific dataset. this provides a user the option to share the entire site with any filtered view they have set. due to the numerous filtering options/methods, this enables a user to share their view with others easily opposed to having to dictate what options they chose in order to list the datasets they are seeing.
for example, i

[2019-01-03 20:15] jwhaney commented on #11
pull feature branch contact-move and review please

[2019-01-04 15:20] jwhaney commented on #11
resolved via commits: c3a5d0c70e38c5effb1e6d50a6d7547a423dc8b2, 09fd958a34bd60ce805de092cc33bcc64acb4fab, 7d18d088f263060ee8810645dbed3cffa71f2932, 6f02575288b9c6c44b89d3d95862f70fab7fe138

[2019-01-11 15:33] adambreznicky commented on #10
as discussed over the last week, there are a few too many inconsistencies related to dataset categories and what "is important" in the name. let's leave it as is for awhile as the responsibility lies on the content creators. we can revisit in the future if problems arise

[2019-01-11 15:36] adambreznicky commented on #12
view needs to be updated to not override acquisition_date

[2019-01-14 16:44] adambreznicky commented on #12
resolved 85000c2c13f074380db5ca7fd5e859f6c593e6b4

[2019-01-14 17:57] adambreznicky commented on #5
the map is already set to load to the extent of the data.
county vs quad availability is already handled as layers within each download map.

if the data is not in the immediate map view on load, that is because the data exits multiple, separated locations and when the map loads it centers between them giving the illusion that something is not functioning correctly.
zooming out would solve this bu

[2019-01-14 19:53] adambreznicky commented on #16
this needs to be reviewed after @JasonKleinert completes the search bar move to the header center

[2019-01-15 13:10] adambreznicky commented on #21
naip 06, top 15, top 96, top 08 need polygons added to the area_type table in the database and carto before re-running. awaiting shapefile from ryan to update.

[2019-01-15 13:37] jwhaney commented on #20
preliminary move to layout grid for download template (details) complete with 058b5f916e88bbd9cb9f6efe184946376e6d25b0, f2c28df567ab7bc5f5b7f3e736eb00ed5ce68099

[2019-01-15 14:50] adambreznicky commented on #8
good input, thanks for the graphic

cards have been implemented as suggested. the year was kept out of the main title as titles are inconsistent and cannot be programmatically injected in the  placement of the title in the mockup. the year is also a piece of metadata rather than the "name" or "type" of data. instead, the year was placed below as a subtext line alongside the source. the literal lab

[2019-01-15 14:55] adambreznicky opened #23 "modal full screen mobile"
modals should be full screen on mobile. geography filter and order cart the only modals left?

[2019-01-15 15:04] jwhaney commented on #25
also external template to mdc-layout-grid

[2019-01-15 15:15] jwhaney commented on #25
resolved via commit: 0204a28e951800f6b7a14db36f90e686ea7286a1
will need to review design and make future tweaks

[2019-01-15 15:20] adambreznicky opened #32 "thumbnail in details"
the idea was brought up to include the thumbnail image in the dataset details to some capacity as a means to facilitate association for the user between the card in the catalog view and the details view. should this be done? and how?

[2019-01-15 16:12] adambreznicky opened #34 "lidar note"
remove list of tools:
"
LASTools provides a lossless compression of the data from las to laz formats.

Software with native LAZ support
ERDAS IMAGINE (14.1 and up) by Hexagon Geospatial
Global Mapper (13.1 and up) by Blue Marble Geo
ENVI LiDAR (5.1 and up) by Exelis VIS
FME (2012 and up) by Safe Software
LAStools by rapidlasso
plas.io 3D Web Viewer by Hobu Inc.
FUSION (3.40 and up) by Bob McGaughe

[2019-01-15 16:20] adambreznicky opened #35 "update collection categories"
categories were distilled down. now all collections need their categories updated and use multiple ones when necessary.

example, middle brazos watershed lidar is currently only category lidar. should be lidar, elevation, and hydrography

[2019-01-15 16:53] adambreznicky opened #37 "estimate cost summary"
textual blurb at bottom of populated shopping cart order form needs to be finalized. this text is supposed to be supplied by @ThorTheDestroyer as per a previous meeting. if we don't have permanent charges/cost for services or there is no additional information we want to relay to customers prior to their order being placed, then this chunk can go away

[2019-01-15 16:53] adambreznicky opened #38 "accessibility"
accessibility needs to be tested and changes handled

[2019-01-15 16:59] adambreznicky opened #39 "download map area_types carto reworking"
as per the idea from carto, on initial app load query carto for all area_types and reserve the response in the store. then just query it for making the download areas layer in the download map rather than going back to carto in 1000 record chunks.

"""
Jorge Sanz:
You may want to call directly the Maps API that gives you full JSON response including the MVT sources. The best way would be to use CA

[2019-01-15 17:07] adambreznicky commented on #32
solution: we will be standardizing all images for size/resolution. thumbnails will meet the same standard and then they can be added to the image carousel.

to do task: when all images are standardized, update the image carousel component to not exclude the thumbnail (as it currently does)

[2019-01-15 17:12] adambreznicky opened #41 "HGAC 2006 Imagery - Bad Downloads"
All HGAC 2006 Imagery download zipfiles are empty. need to be re-uploaded to s3 and then the resource form re-reun

[2019-01-15 17:17] adambreznicky opened #42 "Update Counties"
The following datasets are tnris download or tnris order only and don't have any counties associated with them at all. Need to visit each one of these collections in the admin console and select the correct associated counties in the relate section.

"PLSS Township";"2014-02-01";"tnris-download"
"NCTCOG Imagery";"2003-01-01";"tnris-order"
"CapArea-McLennan Imagery";"2018-11-07";"tnris-download"
"N

[2019-01-15 19:39] ThorTheDestroyer commented on #37
Are you looking for pricing descriptions/ Listed product cost or equations for calculating data costs? Or Both?

[2019-01-15 19:59] adambreznicky commented on #37
the more information we can provide users up front the better. it means less questions coming in as well as erroneous orders where people don't realize what exactly they're asking for. i'm asking for any and all information you want to provide to a user right before they submit an order.

one thing we had discussed in a previous meeting is relaying cost information to the customers. no, i don't th

[2019-01-15 20:00] adambreznicky commented on #37
![Screenshot from 2019-01-15 13-59-44.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5972568472d14a001f805e0f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227049f37a3dd4b668ee11365456424aa853444d04bea6d37ef5f22e7a985958ecd06a5627c16940abe98a16bf00b2768e4e87beb9d85edcfa7f74b9dfd0126754505a9bf54f37a1934acd5cf14ee94f51a413376aef647b.png)

this is what we cur

[2019-01-15 20:49] adambreznicky opened #46 "draw tool geo filter mobile bug"
draw tool doesn't work in the geography filter map on mobile

[2019-01-15 21:00] adambreznicky commented on #30
resolved 17c5c69e6e69046bfb2aad522f45ebf7798f52c0

[2019-01-15 21:00] adambreznicky commented on #23
resovled 17c5c69e6e69046bfb2aad522f45ebf7798f52c0

[2019-01-15 21:00] #23 closed

[2019-01-15 21:04] ThorTheDestroyer commented on #37
Got it. Just to clarify, we will not know the size of the data request for this iteration, right?

Historical imagery costs are based on staff time and archive resources cost recovery calculations.

Historical search (1 image per decade): $40.00 per site
Single year search: $18.00 per site
Scanned historical frame: $10.00 per image
Scanned + georeferenced historical frame $20.00 per image
Digital

[2019-01-15 21:11] ThorTheDestroyer commented on #37
Data Reproduction costs are based on a combination of staff time and computer/server cost recovery calculations.

Staff time: $46.00 per TB
Server/computer  time: $0.15 per GB

TNRIS provided USB drive
Flash drive: $40.00
External 1TB hard drive: $100.00

[2019-01-15 21:34] adambreznicky commented on #37
perfect. thanks!

we don't need the "maps" one for the data holodeck (maps order form will be staying on tnris.org) but we could definitely use it on the tnris.org form

[2019-01-16 15:50] adambreznicky commented on #46
resolved with version update. good timing!

5c0520acff91bc4b33979c07b266a3aa5d31f8f8

[2019-01-16 15:50] #46 closed

[2019-01-16 16:06] christoball commented on #24
Here's my proposal for the search area.
![datacat-search.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec958e228182bdc2faba42b65ef8d665043761260ea62864c7b96aea412a5058561dab15095815f4f0892aaee0397188540ebfc3714d36976345f3e5db55ea43a82a994e8cbcbd8f48c7ee3821e08387483e1b1755.jpg)

[2019-01-16 17:51] jwhaney commented on #33
- moved acquisition year to title for all templates, moved to end of title for historical existing year.
- tags, known, issues, rec use, coverage extent removed
- changed metadata list spacing
- no sass for 50/50 in metadata component due to change to mdc-list-item__primary-text and __secondary_text (stacked)
- resource types relabeled to download formats in metadata
- category moved to last in me

[2019-01-16 20:12] jwhaney commented on #34
i think you knocked this out yesterday @adambreznicky with commit 4507c13a830d0eeb9bb832c6a877357691523857. not sure about the note about classification?

[2019-01-16 20:18] adambreznicky commented on #34
i got rid of the software list but the lidar note still needs new, additional text about classifications existing in the project report. @gmullins and @ThorTheDestroyer can help determine how to say it. maybe...
"Vertical classifications can be found in the Project Report. Download the Project Report zipfile in the link below."

this is also under the assumption that every lidar dataset has a proj

[2019-01-16 20:45] ThorTheDestroyer commented on #34
I had talked to Jason about this the other day.  The classifications are in almost all of the metadata; however I feel this would be best represented in the spec breakout field(resolution, agency, coverage extent, etc) along with the vertical accuracy of each dataset.  I feel the classification is a technical specification and belongs in a metadata field instead of in a paragraph that is a general

[2019-01-16 20:57] adambreznicky commented on #34
yes, we discussed this idea as metadata (which is correct) and there is an issue (#19) to adjust the schema for it in the future but schema changes are out of scope in this stage of the project. at a later date, we can make those database changes and, at that time, y'all will be able to go through and populate for it to show.

what we are discussing within this issue (#34) is how to note to users

[2019-01-16 23:54] christoball commented on #24
If we want to unify/take the opportunity to rebrand, this with the site then this is the direction i think we can possibly go in

![tnris-white-site.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46fc9a882a91cebe87e0ab46e94ef9802c046b313916ac217586f76ae5002e025e5e49a5125f0b15fba88122a6b734268f5d09e5d43f4d68d47f40f2ecdd42e64

[2019-01-17 13:46] mitchellryant commented on #21
@adambreznicky here are the new quads and quarter quads. should be everything we ever need.

[data_tnris_org.zip](https://github.com/TNRIS/data.tnris.org/files/2768875/data_tnris_org.zip)

[2019-01-17 14:20] mitchellryant commented on #42
Dataset | Date | Template | Status
-- | -- | -- | --
PLSS Township | 2014-02-01 | tnris-download | Not Public
NCTCOG Imagery | 2003-01-01 | tnris-order | Not Public\Outside Entity
CapArea-McLennan Imagery | 2018-11-07 | tnris-download |  
National Wetlands Inventory 062k | 2014-02-01 | tnris-download | Not Public\Outside Entity
NED | 2011-01-01 | tnris-download | Complete
National Elevation Datase

[2019-01-17 16:00] christoball commented on #24
![data-catalog-entry-new.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec958e22cf80a89be8b34ca310f59a3d543e3e2701b4693cc7f33ab0487e021b4d44be440b5e45fbf0da2cf2e73b2182550becd93b5a75c43514feaa9e0dfd50e474d412dcfce9c85ecafa3c22ed8a8a4b391901188ef65933a8985985.jpg)

[2019-01-17 16:47] mitchellryant commented on #24
We are going with 2 themes. Please comment out or remove themes but default and dark theme. @christoball will provide design for dark theme.

[2019-01-17 16:48] jwhaney commented on #37
resolved via commit - 75ec2517892857baf71f80785513cc845d24fbcf

possible future enhancement can automatically calculate a users costs based on parameters filled out in the form and will show that programmatically calculated cost at the bottom before user submission.

[2019-01-17 16:50] #37 closed

[2019-01-17 16:55] jwhaney commented on #24
@mitchellryant please create a new issue for the theme related work. this issue has been moved into 'in progress' status with a focus on the collection dialogue (template views) layout that @christoball provided in the last image above. i will rename this issue.

[2019-01-17 17:03] jwhaney opened #47 "order form - calculate estimated costs"
future enhancement to programmatically calculate a users estimated cost based on parameters selected in order form. this will be noted to be 'ESTIMATED' however because of varying degrees of change or customization.

[2019-01-17 19:27] mitchellryant opened #48 "Themes"
We are going with 2 themes. Please comment out or remove themes but default and dark theme. @christoball will provide design for dark theme.

[2019-01-17 19:54] adambreznicky commented on #38
recent material package updates have revealed accessibility issues in the framework related to modal tabbing and focus. this leads to the solution of migrating the order cart and geo filter dialogs into a "view" based catalog structure like the collection cards. working/focusing now to make this large scale migration happen.

[2019-01-18 13:47] mitchellryant commented on #40
StratMap Smith-ETX 2018 6in NC\CIR Orthoimagery
StratMap CapArea-McLennan 2018 6in 12in NC\CIR Orthoimagery
StratMap 2018 50cm Crockett County Lidar
USGS 2016 70cm Neches River Basin Lidar
USGS 2014 70cm Archer Jack Lidar
USGS 2016 Middle Brazos and Lake Whitney 70cm Lidar
USGS 2017 70cm Amistad National Recreation Area Lidar
StratMap 2017 Jefferson 50cm & Liberty/Chambers 35cm Lidar
StratMap 2017

[2019-01-18 19:56] jwhaney commented on #48
this issue incorporates the change to TNRIS blue as default theme as well.

[2019-01-18 19:56] jwhaney commented on #48
https://camo.githubusercontent.com/a451a4bb12289e4a142526145796e883689a9525/68747470733a2f2f776166666c65696f2d6469726563742d75706c6f6164732d70726f64756374696f6e2e73332e616d617a6f6e6177732e636f6d2f75706c6f6164732f3539396465313538313832376366326230366432653430302f313235353136633636653832633732386163653231653064343665633935386532326366383061383962653862333463613331306635396133643534336533653237303162

[2019-01-18 19:58] jwhaney commented on #48
![tnris_blue_color_code.jpeg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46fc9a882a91bcab83fcba7ca752fc9b3b79247c2d01e1673295f127b54778154d555ca912595e43f5aa8e7ff7b16d78835c0ae587685e76ce3843bea4905dee5fee7fd616cfe3fe9846d2e9342fe68e8b48361a041c81f95d3da38b06.jpeg)

[2019-01-18 19:58] jwhaney commented on #48
![collection_details_img.jpeg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46eb9b962f8780bd86e6b17ca058e495204a344c2009a4693cc7f33ab0487e021b4d44be440b5e45fbf0da2cf2e73b2182550becd93b5a75c43514feaa9e0dfd50e474d412dcfce9c85ecafa3c2ced8a8a4b391601198cff5f3ca1915985.jpeg)

[2019-01-18 20:01] jwhaney commented on #24
collection layout completed with commit 8fe15a92e044a47c1a0e7239e36ab00d4d7698f8.
please review.

[2019-01-18 20:07] jwhaney commented on #48
added the blue to default theme with commit e13d2ae5f30a20afe997dc29d0969a215ef68cdd. still need to comment out/remove all themes except dark and light/default.

[2019-01-18 20:30] jwhaney commented on #48
full theme list commented out in ThemeChooser.jsx component; new list with only light and dark. commit 01e6977c468eae03230f05897dc02075a000e278

[2019-01-18 20:33] #48 closed

[2019-01-18 20:35] mitchellryant opened #49 "Dark Mode"
@christoball
Please design dark mode theme.
can this be done by COB Tuesday?

[2019-01-18 20:43] jwhaney commented on #24
@adambreznicky & @JasonKleinert please do a pull when you get a chance and review the layout using local build. @christoball if you want to come by my office and look at the local build layout next week to review, please do. we might need to still make some tweaks. all the new stuff won't be live (deployed) on data.tnris.org until the following week probably.

this issue will remain open until we

[2019-01-22 13:59] jwhaney commented on #29
please refer to issues #48 and #49. will still need to review/QA QC the default (white) and dark themes though.

[2019-01-22 14:39] jwhaney opened #50 "footer problems"
when there is a collection with little data (ie. address points 2017) the footer (div#master-footer) jumps up directly underneath the template div, which creates empty space at bottom of viewport.

also, this occurs after a user orders and sends a dataset to the shopping cart. the footer jumps up underneath the text. see below image.

need to make footer sticky to keep it at bottom of viewport.

!

[2019-01-22 14:59] jwhaney commented on #22
![empty_shopping_cart_text.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46ed998a379bbcba87e6af53ad53f7ab2a4735671610a63364c7af6aaf50740b0a0c0abe4b4a5a17fdf88e22f5b168218d0d03e4d16c5722c33c13a4bdd00da313f871d51bdaebe5c01982fa3737e682854e3b1a0d198ff65c31a59d49c84abb.jpg)

[2019-01-22 15:01] jwhaney commented on #22
review commit e13de2e8997ca4c57fab2ddf3fdc5d8304fe4c4f

[2019-01-22 15:48] jwhaney commented on #22
i think i like this slight variation better with the first part bold.
![new_layout_nodata_shopping.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46e6918d1c8e82b080fcab7caa52f4953d471860210bb33b798be46af3006b1300051bff054a5556f9aa882aa1bf6f77de0d0cbcd9645f75ce6b14adba8a1aed13a632c91edbe2e3d7158abd7f37ed998e49341f001c81fe5a3

[2019-01-22 15:49] jwhaney commented on #22
commit ba0c1437e654eb1168521e4cc4868bcc4e57c304

[2019-01-22 16:58] jwhaney commented on #35
should this be a manual process in the admin console, or should we try to do this programmatically?

[2019-01-22 17:01] adambreznicky commented on #35
Manual. Every dataset will be one off and there is no programmatic logic to determine which each should be. Mundane task, less important but needs to be done eventually

[2019-01-22 17:13] jwhaney commented on #34
do we want to put a generic statement in the description across all lidar category datasets, something like "please see project report under supplemental downloads for classification information" ??
that way @ThorTheDestroyer / Stratmap doesn't have to go through each lidar dataset to find info and add to description manually in admin console.

[2019-01-22 17:50] jwhaney commented on #36
i think the tool drawer currently functions as you intended @adambreznicky . i believe you fixed this in a previous commit. however, i noticed that the mdc-list-group .scroll div was not the full width of the tool drawer so i increased it via commit 651bacd57ad1d3d080ea7e39fb2f64d6f92b4575. take a look when you get a chance and maybe we can close this issue.

thanks.

[2019-01-22 18:03] jwhaney commented on #36
![final2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46ee9d94228ed1ebc3abaf51ab57f5973d047d317c07f27a27dce07fbb432c0057564ead490e5a45fef18c79b4aa2e32db025fb28c341521842f1bbeb98515be04be288a4785b7b4894bc2eb2f68.png)

[2019-01-22 19:32] jwhaney commented on #50
the footer jumping up also happens in the catalog view when a user filters down the collections to just one row of results.

[2019-01-22 21:36] jwhaney commented on #50
resolved via commit bae6bf160ac439cac87bb3a68c08002dc0ec3f73

[2019-01-22 21:43] jwhaney commented on #51
![limbo-ui-error.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46e49d97218dcebc86a4ba51b652e2d665043761260ea62864c7b96aea412a5058561dab15095815f4f0892aaee0397188540ebfc3714d36976345f3e5db55ea43a82a994e8cbcbd8f48c8e93426e38a8c4a3c191755.jpg)

[2019-01-23 21:14] adambreznicky opened #52 "collection admin - thumbnail dropdown"
add an empty/blank option to the thumbnail dropdown when no photo has been chosen. currently, it displays the selected photo but if none is chosen, it fills with the top photo even if none is selected. we want the field to display blank when one isn't yet chosen.

[2019-01-24 19:58] adambreznicky commented on #22
i adjusted this with the major modal removal i'm working on. removed the 'lets go shopping' button. this text only appears now when the shopping cart is completely empty after being filled previously.

[2019-01-24 19:59] adambreznicky commented on #36
seems to be working as expected now. although, on mobile, scrolling propagates below into the catalog when the tool drawer hits the bottom. not really a "problem" but noteworthy if we want to alter that behavior

[2019-01-24 20:02] adambreznicky commented on #50
reopened because the footer sticks, but the catalog, collection, and other views get hidden behind it when minimal number of records returned or the download map is rendered. this is probably related to the major view changes i just made. sorry for breaking it again.  :/

[2019-01-24 20:03] jwhaney commented on #50
ya i saw this and meant to reopen it. no worries, i'll take a look.

[2019-01-24 21:08] adambreznicky opened #53 "shopping cart icon item count badge"
add a small numerical count of the number of items in the shopping cart to the cart icon

[2019-01-28 17:31] adambreznicky commented on #38
sort list basic accessbility via commit ffdaea21b2a6604b9c4f569b8aedfe3e72c12190

"single item selection" sort list is functionally accessible but still buggy. the material out-of-the-box list is not behaving as expected. required extra code to enable enter/spacebar keypresses to fire wired functions. up/down arrows nonsensically run with a different order than what is displayed and i cannot find

[2019-01-31 13:42] adambreznicky opened #54 "naip 2006 zipfiles outside resources folder in s3"
a huge slue (over 13,000) naip 2006 zipfiles are outside/adjacent to the resources folder in s3. resource form in admin console ran without errors to add all the downloads for this dataset but didn't include those outside the resources folder. they need to be moved into the resources folder for this collection so that i can re-run the resource form and update the downloads.

collection id: df508fc

[2019-01-31 13:47] mitchellryant commented on #54
13,006 to be exact

[2019-01-31 13:58] adambreznicky opened #55 "map zoom restrictions only for naip/top"
the map zoom restrictions are in place for to help performance on quad and qquad statewide datasets. basically, this means the map zoom restrictions exist only because we have naip and top imagery but it is causing initial load confusion for datasets which exists in seperated chunks across the state. let's remove the map zoom restrictions for the general populous of datasets and implement them onl

[2019-01-31 15:33] adambreznicky commented on #55
completed via commit acf0232791519ec1fb462361644b3b07c6af762a

[2019-01-31 15:33] #55 closed

[2019-01-31 16:37] adambreznicky commented on #32
fd9f6f43dfdd8804df19d3a27c9bcc8f5565599c
resolved

[2019-01-31 16:37] #32 closed

[2019-01-31 17:07] adambreznicky commented on #26
image standardization is the highest priority of the 3. next priority is the new graphics for the outside entity. third would be changing the graphics themselves.

collection card thumbnails are ratio 16:9 and this ratio works well within the collection detail page layout and the image carousel. therefore, the ***standard for all images (including thumbnails) is a 16:9 ratio, 1955x1100 pixels***.

[2019-02-01 13:38] adambreznicky commented on #9
commit bb1525fec9341f452d6aa6e3c68c69cc62bc5f71
added a bunch of helper text and did some thumbnail management based on images.

helper text for 'source' and 'agency' have not been completed as it spawned a discussion on how to handle these inappropriately labelled metadata. discussed with Stratmap and they leaned on the idea:
source --> "Partners"
agency --> "Source"

thoughts? maybe we should me

[2019-02-01 14:46] jwhaney commented on #22
I believe this issue can now be closed. the shopping cart icon only appears when you intentionally order a dataset (add it to the cart) so users cannot click on it randomly.

[2019-02-01 16:22] adambreznicky commented on #9
commit 72845b0c7156277009b5844fd563c2dbefb8498a completed the source/agency to partners/source migration.
frontend updated to use new fields. old fields and model still exist as the deployed/prod instance is using them. after next deployment, these old fields/model can be deleted.

post deployment to-do:
- [ ] update collection_catalog_records.sql references to source field and agency_type model.

[2019-02-01 16:34] adambreznicky commented on #52
resolved bb1525fec9341f452d6aa6e3c68c69cc62bc5f71
rather than an empty option in the dropdown, helper text was added to display when a thumbnail is selected and notify that one isn't when it hasn't been deliberately saved as such.  also added handling so that if only 1 image is uploaded, it's automatically declared the thumbnail and if all images are deleted, the thumbnail reference is cleared out

[2019-02-01 16:34] #52 closed

[2019-02-01 16:44] adambreznicky opened #56 "contact busted?"
contact form needs retesting. it is reported to be giving a 403 Forbidden error in production.

[2019-02-01 17:04] adambreznicky opened #57 "CAPCOG named datasets"
there are 4 'CAPCOG Imagery' and 1 'CAPCOG Lidar' datasets which should have their names updated to replace 'CAPCOG' with a more layman label. something like 'CapArea' or 'Central Texas' or 'Central Capital'

use of the acronym CAPCOG in the title is redundant since CAPCOG is the source and owner of the dataset. this information is already searchable and listed in the metadata. it also should not

[2019-02-01 17:17] adambreznicky commented on #57
same thing applies for the other collections with acronym names: H-GAC, IBWC, IBWC, NCTCOG, etc.

[2019-02-01 18:37] jwhaney commented on #50
commit 8f0e0494c654bc54cd2e09affbdb177fe7f93867 hopefully resolved these footer issues. please review when you have the time.

[2019-02-01 20:20] adambreznicky opened #58 "loading screen css"
loading screen css needs to be adjusted since moving to view based structure from modals. particularly, the loading screen as it appears on the download map for naip and top datasets.

[2019-02-01 20:20] adambreznicky commented on #58
![Screenshot from 2019-02-01 14-19-44.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5972568472d14a001f805e0f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227049f3793dd5b268ee16365056424aa853444d04bea6d37ef5f22e7a985958ecd06a5627c16940abe98a16bf00b2768e4e87beb9d85edcfa7f74b9dfd0126754505a9bf54f34a8934acd5cff4be44f51a1173665e3647b.png)

[2019-02-01 20:41] adambreznicky commented on #56
investigated and it seems the app the required 2 contact env variables were not present in the set-env-secrets.sh file when it was last deployed. setting these and then redeploying should fix it. i'll leave the issue open until this happens and it is tested successfully

[2019-02-01 20:47] adambreznicky commented on #54
Just a notice for documentation purposes in case someone is curious about this new error: since all contents of the bucket for this collection were temporarily deleted, the images ("assets") are causing 404 errors on the collection card and in the details page.

[2019-02-01 21:01] adambreznicky commented on #28
desktop chrome and firefox - all share buttons seem to be working as expected.

mobile android chrome - all share buttons seem to be working as expected except the reddit one. it opens a reddit post but doesn't prepopulate the text.

[2019-02-04 13:16] ThorTheDestroyer commented on #57
Do you want me to just post a list of new names in this issue or is there somewhere else you want me to populate the new names? I can do all the lidar ones, but Gayla probably has a better point of view for the imagery datasets.

[2019-02-04 13:23] adambreznicky commented on #57
this will ultimately be a little update project for you, gayla, and whoever else you recruit to participate. like the descriptions, i image y'all outlining standards for the new names and divvying up the collections with assignments for who is going to take which.

the names will be updated directly in the admin console for data.tnris.org by y'all. we simply haven't put together the training for t

[2019-02-04 13:57] jwhaney commented on #56
looks like contact tnris form works after latest deployment.
![contact_tnris.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46eb9b94378380bdb0fdb151ad4eb2d86b56357c2301a03f32dfa17dbc132a56560c49f8105f0e4cf5f98823f0b33d72825959ffcd7f1d2598694ef1e1c84afd13b0328a468fb7b98e45c2e03523e08a86463b0c48.png)

[2019-02-04 13:58] jwhaney commented on #56
can we test the outside entity form without sending an email to the entity? or should we just do it...?

[2019-02-04 14:31] ThorTheDestroyer commented on #57
Sounds good.

[2019-02-04 15:37] adambreznicky commented on #57
@gmullins tagging you so you are in the loop on this one

[2019-02-04 15:41] adambreznicky opened #59 "Update Source/Partners"
@ThorTheDestroyer and @gmullins
the metadata inconsistency and confusion surrounding 'Agency' and 'Source' has been reconfigured as we discussed.
'Source' is now 'Partners' and 'Agency' is now 'Source' entity (organization, agency, or program as managed by a domain table).

i etl'd the old information for these fields so now that the schema changed all the collections will need to be reviewed to u

[2019-02-04 15:47] adambreznicky commented on #56
thanks for QC'ing the form.

we should test the outside entity form. the way i think we can test it is to create a new, fake outside entity using one of our emails and run the form to send it to ourselves. i'll test this now

[2019-02-04 16:14] adambreznicky commented on #56
testing outside entity form sent the proper email to me. this all seems to be working again. closing the issue

[2019-02-04 16:14] #56 closed

[2019-02-04 16:54] adambreznicky commented on #9
final adjustments completed after redeployment. commit e48423cc1e5afadeee86c3fdc8fd904fb675a729

[2019-02-04 17:17] jwhaney commented on #26
all of the small square thumbnail images from public collections have been deleted.

note: there are some non-public collections that still have the small thumbnails. these collections will likely be deleted at a later time.

[2019-02-04 21:03] jwhaney opened #60 "lidar blurb"
blurb not showing on collections with more than one category (ie. elevation, lidar).

[2019-02-04 21:04] jwhaney commented on #60
resolved via commit 7891132740417354c21cbbcd1ed4c63157e1d435

[2019-02-04 21:04] #60 closed

[2019-02-04 21:10] adambreznicky opened #61 "metadata category list"
in the metadata list, the list item for Categories currently, straight displays the category text string list.
2 word categories like "Land_Use" have show the underscore space separator. update the string display to replace "_" with an actual space " "

[2019-02-04 21:12] adambreznicky opened #62 "investigate browser navigation"
currently, urls are managed with the application History object and browser controls are ignorant to the changes. investigate the ability to push these history object url changes into the browser recognition so that 'back' and 'forward' browser buttons function. this may be possible but it may force a full page reload (which would cause the whole application to reload). check out what is possible

[2019-02-04 21:15] adambreznicky opened #63 "tool drawer icon badge/indicator"
create an indicator badge for the tool drawer icon which appears while any of the tool drawer filters/sorters are applied. some ideas include a counter of the filters applied (this may not be intuitive) or a subscript exclamation point icon

[2019-02-04 21:16] adambreznicky opened #64 "update form submission success text"
update form submission success text. the current collection inquiry form has a funny "your data is corrupt" joke. replace with permanent text.
investigate form submission text for outside entities and order submission as well to ensure their text is consistent and professional

[2019-02-04 21:18] adambreznicky opened #65 "map layer color"
update map layer colors (download map, county coverage map, and geo filter map). use the 125,125,125 gray with opacity. @mitchellryant has the hex code. will need to update the hover color also.

[2019-02-04 21:18] adambreznicky opened #66 "carousel speed"
investigate what it takes to slow down the image carousel rotation speed. preferred to slow it down a bit if possible

[2019-02-04 21:20] adambreznicky opened #67 "carousel max size"
update carousel style height limit for consistency regardless of image size. take into account that all photos will be a standard size in the future, this is a preventative measure to control when bad images are uploaded by accident (and the current legacy images while they are updated)

[2019-02-04 21:22] adambreznicky opened #68 "move catalog button"
move the grid catalog view button in the header from the right, to the left hand size. make consistently always visible unless in catalog view (pretty sure it already is only shown when not in catalog view)

[2019-02-04 21:24] adambreznicky opened #69 "cleanup outside entity images"
although all images will be updated to a standard, in the mean time go through the current outside entity images to remove drastically large or small images. probably should only have the gray homemade ones (like thumbnail) present for now

[2019-02-04 21:25] adambreznicky opened #70 "move shopping cart back button"
move the shopping cart back button from the header down into the shopping cart view on the top right. change icon from arrow into larger X circle

[2019-02-04 21:34] jwhaney commented on #66
resolved via commit 20ae573f78487d2032b0f3a883b6bb0355955892

[2019-02-04 21:34] jwhaney commented on #61
resolved via commit 20ae573f78487d2032b0f3a883b6bb0355955892

[2019-02-04 21:35] #61 closed

[2019-02-04 21:35] #66 closed

[2019-02-04 21:37] mitchellryant commented on #65
#7d7d7d

[2019-02-05 12:58] adambreznicky opened #71 "collection view url clears on load"
when loading the app with a collection url, the page loads to the right collection view but the url clears as soon as the load completes. i think this is from the implementation of views but truly don't have a clue how this started happening. never used to.

[2019-02-05 13:42] adambreznicky opened #72 "tnris.org updates after production push"
- [ ] redirect all /data-download and all /data-catalog urls automatically to data.tnris.org
- [ ] remove old order forms and contact forms. only remaining should be a general inquiry to tnris form and the order custom maps form
- [ ] remove all buttons/links to /data-download and /data-catalog urls
- [ ] update maps and data page

[2019-02-05 14:40] adambreznicky commented on #71
was caused by a lack of handling in the header where all the view controls now reside. reworked resource retrieval to centralize in the tnrisdownloadtemplate itself.
resolved ffa84ec0cc9c3601d85b3c7cedb1ac2a40fca11d

[2019-02-05 14:40] #71 closed

[2019-02-05 14:55] jwhaney commented on #67
resolved via commit c68b2701634bcd1ecc7b465e3e03e37e4e1e3fc9

[2019-02-05 15:03] adambreznicky commented on #21
TOP 96 missing area download zipfiles in s3:
2904321,2904322,2904323,2904324
3296391,3296392,3296393
2995242,2995244
2995371,2995372,2995373,2995374,2995381,2995382,2995383,2995384

[2019-02-05 15:08] adambreznicky commented on #21
TOP 08 missing area download zipfiles in s3:
2999411,2999413
2999403

[2019-02-05 15:23] adambreznicky commented on #21
i qc'd 09 and it is correct. let me know when naip 06 re-syncs, and the missing top 96 and 08 zipfiles are in s3. i'll re-run them all and we can celebrate

[2019-02-05 16:54] adambreznicky opened #73 "thumbnail image first in carousel"
add a small handler in the carousel component so the thumbnail image is first in the carousel array of images on load of collection view

[2019-02-05 16:54] #69 closed

[2019-02-05 17:08] adambreznicky commented on #64
resolved 5b44398d1e9a9d75029883914c4a4b7b7e2d2771

[2019-02-05 17:08] #64 closed

[2019-02-05 20:33] adambreznicky commented on #65
resolved 2e2c9222c75e25ebaf44ef1132d043c4c3e97c9c
updated both light and dark theme maps to use these colors.
updated geo filter map to use map color variables.
updated geo filter set/clear to return to catalog

[2019-02-05 20:48] adambreznicky commented on #28
facebook share button tested successfully on desktop chrome. closing issue for now as any further testing would be part of a more general qc

[2019-02-05 21:12] adambreznicky commented on #54
resource form re-run succesfully. 13,005 total zipfiles.

[2019-02-05 21:12] #54 closed

[2019-02-05 21:15] adambreznicky commented on #73
resolved bc2c3061bd27b0edd8122e757aedd3768ea1e570

[2019-02-05 21:15] #73 closed

[2019-02-05 22:09] christoball commented on #49
This is an initial take on it. Will further refine. The blue on the sidebar would be the same as in the light mode.

![darkmode_first.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec9588288f8cad8ad6b94ab64ee4d665043761260ea62864c7b96aea412a5058561dab15095815f4f0892aaee0397188540ebfc3714d36976345f3e5db55ea43a82a994e8dbcbd

[2019-02-06 13:50] jwhaney commented on #67
new resolution with commit 1a7f81e990815085b9cc6af9e9fe6fd4dfd896a9

[2019-02-06 13:50] #67 closed

[2019-02-06 17:21] mitchellryant commented on #44
when i try to upload the zip files, it immediately errors out.

This site can’t be reached The connection was reset.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_RESET

[2019-02-06 17:32] jwhaney commented on #53
new npm package (react-notification-badge) and implementation for shopping cart - commit c7d1a4fb04fecc3a49145e8311025505ad835cc6

[2019-02-06 17:32] #53 closed

[2019-02-06 17:56] jwhaney commented on #63
exclamation for badge notification when tool drawer closed and filters on. no counter as of now. commit afc18a6f6b3339fc8816ce12a960996e11dfb5cb.

may need to discuss if we want similar or different notification next to list item filters in tool drawer when open.

[2019-02-06 19:43] christoball commented on #49
Mockup with hex codes added
![darkmode_hex.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec9588288f8cad8ad6b746bc1fbcd6395428792c07b7692ac7b62bee132c580c581afd4609574dfcf8817da3b73e788f0e19f1c32f0e2a92624cf5f2d75dad0ba821824584b3b88348c8ea3c2ce38c8c4c2c53.jpg)

[2019-02-07 14:23] mitchellryant commented on #44
breakline and reports added.

[2019-02-07 14:34] mitchellryant commented on #41
Changed all HGAC data to order only.

[2019-02-07 14:41] adambreznicky commented on #41
a.k.a. resolved

[2019-02-07 14:41] #41 closed

[2019-02-07 17:59] jwhaney commented on #63
resolved buggy tool drawer notification issue with commit 119e30284c5899c1fa847422f8c54bc2ba8f73db; merged and finalized with commit 87c395bd687f11ab22cf6b8dad2e44d5f7bc72eb

[2019-02-07 17:59] #63 closed

[2019-02-07 21:32] mitchellryant commented on #57
I made on pass through correcting some.

We are going to need to make standards on some things.
and or &
United States or US
listing areas over agencies.

[2019-02-08 14:17] jwhaney commented on #24
as per the last meeting with Richard's and our review of the collection/template layout, I'm closing this issue.

[2019-02-08 14:18] jwhaney commented on #50
I believe the footer issues have been resolved for desktop. we can re-open this down the line if we find any additional grubs.

[2019-02-08 14:18] #50 closed

[2019-02-08 16:00] jwhaney commented on #68
this issue should be resolved with @JasonKleinert 's earlier recent commits as well as commit #784b7e1eced95a5a30272482c65abfdee80e432c

[2019-02-08 16:02] #68 closed

[2019-02-08 20:25] adambreznicky commented on #21
all updates. woohoo! finally!

[2019-02-11 15:47] jwhaney opened #74 "category filter duplication"
when filtering by category (ie. lidar, elevation), collection cards are duplicated in the catalog view.

should be a minor handling tweak to collectionSelectors.

[2019-02-11 15:49] jwhaney commented on #70
resolved with commit d66d4f8b3311724f84c11f7ce29a864345f0a6b2

[2019-02-11 15:49] #70 closed

[2019-02-12 13:00] adambreznicky opened #75 "404"
404 page needs updating to function. currently errors in console

this should be done after the url re-routing is complete

[2019-02-12 16:38] jwhaney commented on #74
resolved with commit 5b3ea9f9ae3e64b3e8c0c018af9fc06028ebd9df

[2019-02-12 16:38] #74 closed

[2019-02-12 17:03] adambreznicky commented on #62
resolved 3f6ea9f49fe938edfafa427b6ee2d2a49e301abb

[2019-02-12 17:20] jwhaney commented on #16
I have tested the new search using browserstack and i believe this is now complete with commit 72ff6df36593c324f87fb22ee3dcd5eb174f7994, as well as the other work @JasonKleinert completed. safari does not hijack the design of the new mdc/downshift search anymore.

yay Jason!

[2019-02-12 21:19] jwhaney opened #76 "box around wms services link"
@mitchellryant requests to add some sass styling to make a box around the wms/arcgis services link in the service component.

[2019-02-13 17:08] jwhaney commented on #76
resolved with commit e48ef24d1b7ca184de0b04966f5e088dc9c1566b

[2019-02-13 17:08] #76 closed

[2019-02-13 18:42] mitchellryant commented on #19
if we are going to the this, then vertical and horizontal accuracy should be added to both lidar and imagery datasets.

[2019-02-13 19:58] mitchellryant opened #77 "Table Permissions"
add permission to role for use by content editors. should be able to only update collections and associated information. No updating of Domains.

[2019-02-13 20:35] adambreznicky opened #78 "hide public field in collection admin"
hide public field in collection admin

[2019-02-13 20:35] #77 closed

[2019-02-13 20:35] #62 closed

[2019-02-13 20:45] christoball opened #79 "Recreate Adjacent States Image"
- Needs basic aerial imagery underneath
- Adjacent states imposed on top

[2019-02-13 22:35] adambreznicky opened #80 "Reorganize sass files"
Reorganize sass files to un-nest parallel/identical sass (most commonly in the template components) into a single, global sass file

[2019-02-14 13:20] adambreznicky opened #81 "analyze logfilterchange and previousurl"
since migrating url navigation, reverse engineer usage of logfilterchange prop/action and previousurl prop/action for their necessity and refactor as necessary

[2019-02-14 13:21] adambreznicky commented on #75
create 'notfound'/'404' view option in the catalogreducer part of the store. it is the only screen covering 'view' that is not acknowledged by the redux store

[2019-02-14 13:53] JasonKleinert opened #82 "reconfigure toolDrawer handling"
remove handling for old toolDrawer implementation. refactor component code to remove references to "showToolDrawerInCatalogView"

[2019-02-14 13:55] JasonKleinert opened #83 "snackbar to display collection count"
add a snackbar to pop up and display collection counts when the catalog view is changed by filtering or searching.

[2019-02-14 14:42] adambreznicky commented on #78
resolved e50befbe70c1b7f2aaca3c8aa12d2ce2f0d76669

[2019-02-14 14:42] #78 closed

[2019-02-14 16:27] adambreznicky opened #84 "esri services links"
update the lambda function which scraps for esri open data portal links to create/grab the link to the open data portal site page for that dataset instead of the service information page.

example:
currently - http://services.arcgis.com/KTcxiTD9dsQw4r7Z/arcgis/rest/services/Texas_Airports/FeatureServer
change to - http://gis-txdot.opendata.arcgis.com/datasets/texas-airports

[2019-02-14 16:41] christoball opened #85 "Recreate Address Points Image"
The address points dataset needs image examples to go with its entry:
https://data.tnris.org/collection/c56ff69b-efe7-46e7-89c7-43e655188382

Img specs are
2000px wide by 1125 high

72dpi

[2019-02-14 17:19] christoball opened #86 "Unavailable Image collections IDs"
IDs not found on vault.

- [x]  025591d6-dabf-4242-ab6f-b4ec63f49992

[2019-02-14 17:23] christoball commented on #79
Specs:
2000x1125px
72dpi

[2019-02-14 17:32] christoball commented on #86
I don't see Amarillo, Dallas-Fort Worth, El Paso, & Lubbock Imagery 2015 in either the spreadsheet or in the folder.

https://data.tnris.org/collection/1849447b-4f62-4318-81d3-9fef9c31482c

[2019-02-14 17:43] adambreznicky commented on #84
- [ ] as per the hallway discussion, maybe test out disabling all the listed services as links. maybe make the into sentence with the number of services a button which dropdowns a display of all the services listed.

- [ ] test max height of description which hides overflow content and has functionality to expand when user clicks button, ampersand, fade, or something of the like

- [ ] test using

[2019-02-14 17:45] adambreznicky opened #87 "2nd source_type link"
sources currently have a single link associated them them. add a 2nd link field called 'source_data_link' or 'data_link'. then cleanup the source_types by populating the current link field with the base level agency/entity website (txdot.gov example) and the data_link field to be the page listing data downloads, other applications, open data page, or whatever it is (opendata.txdot.gov example)

th

[2019-02-14 18:19] christoball opened #88 "archer/jack Image Remake Test"
Could we test the two images I've adapted to 16:9 for Archer Jack Counties Lidar?

They are on the vault under the data.tnris.org folder. ID for the collection is
cd8246cf-99fa-4504-b178-8c6ddecc1c02

[2019-02-14 19:14] mitchellryant commented on #86
$ ls -l /Volumes/vault/Website/data.tnris.org/025591d6-dabf-4242-ab6f-b4ec63f49992/assets/
total 1920
-rwx------+ 1 rmitchel  staff  415584 Oct 12 11:19 13d4213b-923a-4536-a4cc-e475c1e1c43c.jpg
-rwx------+ 1 rmitchel  staff  340288 Oct 12 11:19 66added8-f8ae-4dc2-8457-5c66faab3671.jpg
-rwx------+ 1 rmitchel  staff  219054 Oct 12 11:19 c2288bb7-facb-47d3-887c-fea17209b1f9.jpg

[2019-02-14 19:18] mitchellryant commented on #86
Amarillo, Dallas-Fort Worth, El Paso, & Lubbock Imagery
$ ls -l /Volumes/vault/Website/data.tnris.org/1849447b-4f62-4318-81d3-9fef9c31482c/assets/
total 2144
-rwx------+ 1 rmitchel  staff  549764 Oct 12 11:19 021e6fa5-8ef4-4649-9636-7ce7f8e671c4.jpg
-rwx------+ 1 rmitchel  staff  536619 Oct 12 11:19 6ec891ef-8c4b-406c-8ad9-38ef14622e55.jpg

[2019-02-14 19:26] mitchellryant commented on #88
i copied them up

[2019-02-14 20:09] jwhaney opened #89 "open collection/cart scroll down"
prevent being halfway or all the way scrolled down in a collection or shopping cart if you scroll in the catalog or somewhere else.

[2019-02-14 21:30] jwhaney commented on #89
closed with commit d7066458253c4cb6e72ed883a11f385c94beb6c1

[2019-02-14 21:30] #89 closed

[2019-02-15 17:45] christoball opened #90 "Add Caption Field for Images"
Add the option of a caption field. This could also function as an alt tag.

[2019-02-15 17:51] christoball opened #91 "No spaces between comments on Lookup lists"
There are currently no spaces between some items displayed in the metadata of datasets.

See image in following comments.

[2019-02-15 17:51] christoball commented on #91
This on the Central Texas Lidar Page but the same thing occurs on all datasets
https://data.tnris.org/collection/0549d3ba-3f72-4710-b26c-28c65df9c70d

![nocommas.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46e69b992c8f8ea89cabf301b44fff9e2c4533317346f62821d4b471bc157f00580e46a541595712f9f88b23a3e42e6c981e5ab38532022d8c68

[2019-02-15 17:56] christoball opened #92 "Header for WMS"
Add a header for the Web Mapping Services on dataset pages.

See example image in following comment.

[2019-02-15 17:56] christoball commented on #92
[Uploading wmsheader.jpg...]

[2019-02-15 17:59] christoball opened #93 "Back-End UI: Append Acronym in source drop downs"
Append the acronym for source options in the dataset editing.

[2019-02-15 18:58] mitchellryant commented on #92
I always hated the idea that is it refered to as a WMS Service, when S stands for service.
**WMS Service -> Web Mapping Service Service.** How does this text sound?

Online Mapping Service

This dataset is available as an online mapping service. Use this URL below to connect to the service in your software. To use the service in your software package, consult the software help\support information.

[2019-02-15 19:29] jwhaney commented on #92
soooo, just to clarify are you saying that we need to change the service text blurb to what you have there @mitchellryant and also add a header/title that says "Online Mapping Service"?

[2019-02-15 19:31] mitchellryant commented on #92
yes

[2019-02-15 19:31] jwhaney commented on #92
ok gotchya

[2019-02-15 19:48] jwhaney commented on #92
resolved with commit 19032b447145a47b7b837f62323d265a1a4f81aa

[2019-02-15 19:48] #92 closed

[2019-02-15 20:13] adambreznicky commented on #87
model updated 2069b04451a7185687e28b0e2c42801e501ed881

need to update frontend metadata component to handle

[2019-02-15 20:16] jwhaney commented on #90
just a heads up on where we stand with this:

we will plan on adding the change to the model eventually where a text blurb (prob max character of something relatively small) can be associated with each image uploaded to a collection which will then be reflected on the front end in the image carousel. however, this is not a high priority right now because even if this was up and running right now,

[2019-02-15 20:23] adambreznicky opened #94 "source_type tasks"
in cleaning up the source_type table, have come across a couple tasks that could be done at some point in the future by RDC or anyone really

- [ ] nctcog has an open data portal. can we get an ESRI group id populated to grab their services?
- [ ] bexar county has an AGO open data portal. let's get their ESRI group id populated. this also means they should have their own outside-entity card to lin

[2019-02-15 21:44] jwhaney commented on #91
resolved via commit 6b6f6ba9c3e0cb96015359b07b8d3caeee876909

[2019-02-15 21:44] #91 closed

[2019-02-15 22:49] mitchellryant commented on #94
sounds like a great GIO task.

[2019-02-15 22:51] mitchellryant opened #95 "load web services in entry card"
load web services in entry card

From Richard

[2019-02-18 02:47] #88 closed

[2019-02-18 02:48] #86 closed

[2019-02-19 15:56] adambreznicky commented on #87
updated component 3257d7632d70b066f1d5582dadb0e014db64fccc

[2019-02-19 15:56] #87 closed

[2019-02-19 16:49] christoball opened #96 "Recreate Bathymetry Dataset Image"
Recreate image and/or images for bathymetry dataset

https://data.tnris.org/collection/8fe992d8-1019-492a-b36b-9cfc3293ac6b

[2019-02-19 17:36] christoball commented on #79
Correction, please export at 300dpi so it's available for other uses.

[2019-02-19 17:36] mitchellryant opened #97 "Data Desc Formatting"
Can we see if the the description text can be spanned across column 5-9? This would have the text stop half way under the images.

[2019-02-19 20:07] geochik commented on #94
I'm on it!!

[2019-02-19 20:25] adambreznicky commented on #81
logfilterchange still used by geofilter
previous url still used by cart X button

[2019-02-19 20:25] #81 closed

[2019-02-19 20:28] adambreznicky commented on #75
resolved 4d969f1ceec0bbdfd5e7b545e71501db9a888a10

[2019-02-19 20:28] #75 closed

[2019-02-20 13:32] adambreznicky commented on #90
default carousel functionality is def the way to go.
i added the caption field to the model and it appears in the admin console as expected now. max character limit of 255. this can be adjusted at any time. it's probably too large right now but we aren't using them so its irrelevant. closing the issue and we can return after they get populated.
resolved 1a36638eaed101eff0a59034d3c3bfb79b1174b5

[2019-02-20 13:32] #90 closed

[2019-02-20 13:45] jwhaney opened #98 "image carousel - add legend"
add legend if caption exists in model for each image in carousel.

[2019-02-20 19:55] adambreznicky commented on #80
initial clean by commenting out unused themes. consolidated template and template detail scss via commit 33a7457a76b7031370c496d9c50c713f1345b8cd

[2019-02-21 17:11] jwhaney commented on #98
https://user-images.githubusercontent.com/13525011/52882198-8ae38780-312c-11e9-884a-2f9f21c90db2.gif

[2019-02-21 18:23] jwhaney commented on #84
pull commit a49e3b60b4a4fa4dba8158f69777a0d5c4f5d024 and see what you think. i'll stick this under review.

[2019-02-21 19:53] christoball opened #99 "Return to Area Scrolled to in Catalog"
When you go to a full dataset, and then return back to the multiple dataset browsing, can it return to where you were scrolled to.

This would replicate the same behavior on Google Fonts, and also return users to where they were already browsing, especially when looking at a large number of datasets.

Currently, it resets the datasets to the top of the window.

[2019-02-21 20:05] adambreznicky commented on #99
1. scroll down the catalog grid view
2. open a collection

now you have 2 options:

3A. click the browser "back" arrow, this returns you to the scrolled place on the page

or

3B. click the catalog grid button, this return you to the top of the page

this is the correct functionality (the exact same as google fonts) and the app currently  behaves this way.

[2019-02-21 20:05] #99 closed

[2019-02-21 20:53] jwhaney commented on #84
commit 6f44c6ad0539151c87403da2b4dd148d2685e6ec

[2019-02-22 16:00] adambreznicky commented on #80
completed 42f295cae5c4470d16ca543d72534bf1c15a510e

[2019-02-22 16:00] #80 closed

[2019-02-22 16:03] adambreznicky commented on #49
initial cleanup implemented so its not all crazy conflicted. review for opinions. i didn't see the mockups before i started (sorry) so i didn't operate off of them for this initial cleanup. can implement some of the mockup ideas in the near future.

[2019-02-22 21:37] jwhaney commented on #84
added a collapsed/minimized description if wiki api response + db description equals div greater than 250px (we can change this later). description is expandable and retractable.
commit fe86fe3440a043239682f7e375ebdb0bda9da8b5

wiki api for outside entities should be completed as well.

[2019-02-25 13:46] adambreznicky commented on #29
themes removed and light/dark cleaned up via commit 0bce31f0a179172b713ab7cb0de4b8250dd87628

[2019-02-25 13:50] jwhaney commented on #84
closing this issue out now as i think we finished it up friday.

[2019-02-25 13:50] #84 closed

[2019-02-25 14:24] adambreznicky commented on #93
resolved 49b8c54c69776b83dbb4460eb9b7c2c4f74feb85

[2019-02-25 14:24] #93 closed

[2019-02-25 14:28] adambreznicky commented on #98
updated model (issue #90) to allow content managers to start added the caption text associated with images to be used by the 'legend' as per this issue. this issue can be advanced when content managers create a standard for the caption text and undertake the project to update the database for (at least) the majority of images.

[2019-02-25 15:48] e00o commented on #96
Added four versions of the image to - M:\Website\erik_remakes_datacatalog - for your consideration.

[2019-02-25 15:50] e00o commented on #79
Added four versions of the image to - M:\Website\erik_remakes_datacatalog - for your consideration.

[2019-02-25 17:51] christoball commented on #96
Image has been remade and uploaded to vault. Resolved!

[2019-02-25 17:51] #96 closed

[2019-02-25 17:51] christoball commented on #79
Image has been remade and uploaded to vault. Resolved!

[2019-02-25 17:51] #79 closed

[2019-02-25 17:56] #58 closed

[2019-02-25 17:58] adambreznicky opened #100 "new category: transportation"
add new category transportation and apply it to all relevant collections. Stratmap Transportation and TXDOT are 2 collections that definitely need it. apply to all others that you think are appropriate.

this can all be done in the admin console

[2019-02-25 18:01] adambreznicky opened #101 "toaster popup"
add toaster popup which fires whenever the number of datasets changes. should probably just be passed the 'visibleCollections' prop like the tooldrawer. maybe always display "# Datasets Found" and fire popup when the number changes? fire on initial load?

[2019-02-25 18:03] adambreznicky opened #102 "color of geo filter button when applied"
in the tool drawer, when the geofilter is applied, it is colored by a gray box rather than the expected 'blue'. this probably got lost during the sass cleanup. let's bring it back with the appropriate sass variable color. probably the same as sort.

[2019-02-25 18:05] adambreznicky opened #103 "pull carto.core.js local"
pull carto.core.js local so it is bundled with the app and then cut ties to CDN.
CDN is the correct way but our network issues have made this too troublesome.
this must be QC'd in deployed environment

[2019-02-25 18:06] adambreznicky opened #104 "beta logo/text"
add beta logo and/or text to header so that deployed app shows the app is not production. this needs to be done for beta qc

[2019-02-25 18:08] adambreznicky opened #105 "wiki source"
add wiki source hyperlink with text noting that chunk of description is from wikipedia

[2019-02-25 18:10] adambreznicky opened #106 "Populatirty Sort"
create a popularity sort which orders catalog by either their views or downloads. is dependent on time frame so a mathematical equation will have to be written which generates a cross-time frame 'rank'. maybe number of collection views/downloads divided by number of hours?

[2019-02-25 18:12] adambreznicky opened #107 "services availablility"
add a filter checkbox for datasets which are available as a service. under the 'Availability' section makes sense for this but that section is currently driven by the template so maybe a new, custom section is necessary to make this happen

[2019-02-25 18:21] mitchellryant commented on #40
Data descriptions tied to https://github.com/TNRIS/data.tnris.org/issues/4

[2019-02-25 19:49] JasonKleinert commented on #101
This is a duplicate of #83

[2019-02-25 19:49] #101 closed

[2019-02-25 19:52] JasonKleinert commented on #82
completed with toolDrawer redesign in commit cdd91e852341cf67fa210fc17120a861f656889e

[2019-02-25 19:52] #82 closed

[2019-02-25 21:38] JasonKleinert commented on #100
I added the domain and applied it to TxDOT and Stratmap Transportation collections

[2019-02-25 21:38] #100 closed

[2019-02-25 23:55] christoball opened #108 "Recreate TWDB Watershed Boundaries Image"
Recreate the sample image for the twdb Watershed Boundaries.

Include simple labels, similar to the current image in use.

16:9 Ratio, 300DPI

https://data.tnris.org/collection/a3246604-801d-438e-a200-f97976a83659

[2019-02-26 13:49] jwhaney commented on #97
![Screenshot from 2019-02-26 07-49-32.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227049f3793dd7b568ef15365556424dae53444d04bea6d37ef5f22e7a985958ecd06a5627c16940abe98a16bf00b2768e4e87beb9d85edcfa7f74b9dfd0126754505a9bf54f34a8934acd5df74ae9455cad173666e2647b.png)

[2019-02-26 13:51] jwhaney commented on #97
so the grid has a nested grid inside which is also 12 columns across. so, the description is set to 9 and the new example source bit on the right is 3 columns.

[2019-02-26 13:52] jwhaney commented on #97
i have not committed this, just wanted to provide a screen shot first.

[2019-02-26 14:16] mitchellryant opened #109 "dataset source citation"
Would really like one item that could be copy\paste from the entry cards? I do realize all the text is opn the card already.

**Datasets**
Since MLA has not developed a specific citation style for datasets, the general rules for citing a web document may be applied. For web publications, add date of access. The URL is optional so check with your professor to see if he/she wants you to include it.

[2019-02-26 14:39] jwhaney commented on #97
here is another screen shot on a different collection with description collapsed, new font size and color of text in the new section to the right.
![Screenshot from 2019-02-26 08-38-30.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227049f3793dd7b568ef1a365257424dac53444d04bea6d37ef5f22

[2019-02-26 14:51] JasonKleinert commented on #83
closed with commit 0647e8c3ed6987b617afa4ea7137cdc81515478b

[2019-02-26 14:51] #83 closed

[2019-02-26 15:18] jwhaney commented on #97
@christoball please review when you get a chance. currently the columns across under the image carousel is 12 wide. the description component is 9 columns wide, and the new space for the source citation is 3 columns wide. we can change this and make the new source citation more or maybe less columns. let me know what you think.

[2019-02-26 15:41] christoball commented on #97
@jwhaney That description width looks great.

I like the side caption, but my concern is that when you have the thumbnails, it's not directly by the image and doesn't really associate with it.

Maybe if it said 'Image Example' that would specifically tie it. The distance still throws me off though.

[2019-02-26 15:49] e00o commented on #108
Added four images to - M:\Website\erik_remakes_datacatalog - for WBD.

[2019-02-26 18:01] adambreznicky opened #110 "download map polygons"
random download map polygons for random downloadable collections display at varying transparencies. i suspect it is because duplicate polygons are being displayed within either a single, or multiple layers. the odd thing is that when clicking one of these polygons, only a single download link is listed opposed to the expected multiple links which would produce these darker polygons.

investigation

[2019-02-26 21:56] christoball opened #111 "Lidar on TPWD dataset"
There's a Lidar image on the TWPD dataset. Wondering if this is just a mistake.

https://data.tnris.org/collection/48ddc0ac-0f43-4b55-82fa-5f2d5f7fbd92

[2019-02-26 22:07] jwhaney commented on #97
this issue involves work related to issue #109

[2019-02-26 22:27] christoball opened #112 "Remake Lidar Images"
The following is the list of Lidar images that we should remake. Will add more in the comments as identified:

[ ] - Bandera & Lampasas Counties Lidar 2014, https://data.tnris.org/collection/9dabb50e-00a1-46e5-8966-8a54ac424de6
[ ] - Bastrop, Fayette, & Hays Counties Lidar 2008, https://data.tnris.org/collection/1f1d417a-26f2-41d5-9787-af392d0f09cf
[ ] - Bell, Burnet, & McLennan Counties Lidar 201

[2019-02-26 22:32] christoball opened #113 "Remake Imagery"
These are imagery datasets we need to remake image samples for. Will add more in comments

- [ ] CapArea-McLennan Imagery 2018, Just need a couple more higher rez examples, https://data.tnris.org/collection/22493b55-6c57-4840-aa86-d59c54b00880

SPECS
- 3000px wide
- 1687px high
- 300dpi if possible

[2019-02-27 15:25] jwhaney commented on #97
with commit fbf8c61c1c01a47f8dd43966ef014b26754ca1e1, I'm closing this out.

[2019-02-27 15:25] jwhaney commented on #109
fbf8c61c1c01a47f8dd43966ef014b26754ca1e1

[2019-02-27 15:25] #109 closed

[2019-02-27 16:31] jwhaney commented on #105
7a950966337de4ca86682ffa77668db70f15dc0f

[2019-02-27 16:32] #105 closed

[2019-02-27 21:20] jwhaney commented on #102
084204304335526a232d838f0aef08af8d0061b9

[2019-02-27 21:20] #102 closed

[2019-02-27 21:22] jwhaney commented on #97
moving back to in-progress. need to review how the copy textarea function isn't selecting by document.getElementById("citation").select()

[2019-02-27 21:46] jwhaney opened #114 "download map sass"
collection download map extends the full height of page (tools down in footer indicate this). check sass for fix.

[2019-02-28 14:05] mitchellryant commented on #111
yes TPWD have two Lidar collections that only cover state parks. Galveston Island and Palo Pinto.

[2019-02-28 14:14] JasonKleinert commented on #104
closed with commits 1c18a4ae0298abe01b2edd17d8748addfb512e63 and fbd556db68007c53748449cb5efa1b5754394ca4

[2019-02-28 14:14] #104 closed

[2019-02-28 15:57] #103 closed

[2019-02-28 16:56] adambreznicky commented on #114
resovled 63400ea2f7ae4a77c6d225c45016e5b02de4228c

[2019-02-28 16:56] #114 closed

[2019-02-28 19:30] jwhaney commented on #97
resolved with 3161055b76a7a82e4139434fb743b87e3f2a3539

[2019-02-28 19:30] #97 closed

[2019-02-28 20:02] jwhaney commented on #97
most recent screen shot for @mitchellryant
![Selection_004.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46db9196268197a080e78013f409b2d86b56357c2301a03f32dfa17dbc132a56560c49f8105f0e4cf5f98823f0b33d72825959ffcd7f1d2598694ef1e1c84afd13b0328a488fb7b98f4dc3e03924e58a86493b0c48.png)

[2019-02-28 20:17] adambreznicky commented on #110
issue was caused by duplicate area polygons being queried from carto when mulitple resource downloads shared a polygon and there was over 1000 download areas being displayed
make it a unique arealist to be queried and the problem goes bye bye
resolved c884e15198f24379b7050c1b8eea7dc3dd091911

[2019-02-28 20:17] #110 closed

[2019-02-28 20:57] mitchellryant commented on #97
i like it!!!

[2019-03-01 18:02] christoball commented on #112
- [ ] City of Georgetown Lidar 2015, https://data.tnris.org/collection/04f42cd7-bd81-42d2-bf9e-eca1d04e1936
- [ ] Galveston Island State Park Lidar
- [ ] Henderson Smith Van Zandt Counties Trinity River Lidar
- [ ] Lee Leon Madison Milam Counties Lidar
- [ ] Lidar Availability Index

[2019-03-01 20:48] gmullins commented on #113
@christoball Thanks! I haven't been able to get this yet but will...

[2019-03-01 20:48] christoball commented on #113
I also can't find higher rez versions of the SARA 2016 and it would help if you regenerated some of those. Unless you can point me to where they might be on the vault.
- [ ] SARA 2016

[2019-03-04 17:19] jwhaney opened #115 "global sass breakpoint variables"
create _breakpoints.scss with global breakpoints for different devices; export sass variables to be used in javascript for uniformity in window.innerWidth detection.

[2019-03-04 17:22] jwhaney opened #116 "mobile sass - header and app titles/search"
handle change in font-sizes or add remove text based on device size for header/title; increase width of collection searcher, etc. add title "Data Catalog".

[2019-03-04 18:07] christoball commented on #49
Mockup of dark mode when looking at full entry.
![data-entry-dark-mode.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46ec958e22cf86a79bfba60ea05ce29f644b28772c46ef696097ec22ba416f43554d4bff4059584daffedd7aa1e734798a5d03bbd46c5d7cc36f03b0aac04ee155e57dd205d0f4ae805ec1e13724e28e8e483c1c0d1a8dff5835b2d4.jpg)

[2019-03-04 18:50] mitchellryant opened #117 "Order Template"
Adjust Order Only template.

Remove  county text.
Move map from bottom of page to new tab call Coverage map.

[2019-03-04 18:51] mitchellryant opened #118 "Historic Template"
We need to create plan on how to move forward with this. We are just pulling data from the Historic DB, and it does not truly fit at this time.

Suggestions (per Jason):

- Remove them, add them back as an enhancement. Would need to leave current order form on page.
or
- One Card for all historic collection till individual collections can be added.

[2019-03-04 19:40] jwhaney commented on #115
resolved via 010bc96483a89066df1e42838e480664418d0af9

[2019-03-04 19:42] #115 closed

[2019-03-04 19:42] jwhaney commented on #116
010bc96483a89066df1e42838e480664418d0af9

[2019-03-05 13:19] adambreznicky opened #119 "wms & citation copy button reset"
update the wms and citation copy buttons to reset from the word "Copied!" back to "Copy" after  focus moves away from the button.
right now a user can click one and it says COPIED but then click the next one and they both say COPIED despite the first not actually being on the clipboard anymore

[2019-03-05 13:20] adambreznicky commented on #31
disable download map on mobile. detect if less than a tablet and render a message along the lines of "Datasets cannot be downloaded on mobile devices" instead of the download map.

[2019-03-05 15:22] adambreznicky opened #120 "brazos county imagery missing pic"
Brazos County Imagery 2017 (1d69eeb7-d3ab-48d9-8899-2d54476832ba) had 3 photos but only 2 made it back during sync.
missing photo was: 8dece7d9-2e5d-4243-9e26-ff95dbc0e632.jpg

need to find it, upload to the collection in the admin console, then set it to be the thumbnail and re-save the collection

[2019-03-05 15:29] mitchellryant commented on #120
upload: ../../../../data.tnris.org_names/Brazos_County_Imagery-1d69eeb7-d3ab-48d9-8899-2d54476832ba/assets/8dece7d9-2e5d-4243-9e26-ff95dbc0e632.jpg to s3://data.tnris.org/1d69eeb7-d3ab-48d9-8899-2d54476832ba/assets/8dece7d9-2e5d-4243-9e26-ff95dbc0e632.jpg

[2019-03-05 15:31] gmullins commented on #113
Will any of these work for the CapArea 2018? I had previously made them but maybe you already assessed them?
M:\SM\SM Contract\2018 Projects\58017SOW0046_CapArea_McLennan_Ortho\Web_Announce\Graphics

[2019-03-05 15:36] gmullins commented on #113
Or these for the SARA 2016? M:\SM\HPIDS\2015 Projects\580150618 Ortho\Web page\SARA_Graphics
see sara16 bunch
I don't know if these are high enough dpi.
I'm happy to make new ones, just wanted to check first to see if these are usable.

[2019-03-05 16:29] christoball commented on #113
@gmullins yes these all work great, the originals just weren't with all the other ones I was working from, so thanks for tracking them down.

[2019-03-05 16:32] adambreznicky commented on #117
resolved 85f7b79119789000fd951a12e57a92e6fbffb8f8

[2019-03-05 16:32] #117 closed

[2019-03-05 16:34] #120 closed

[2019-03-05 16:35] christoball opened #121 "Add Roboto Condensed"
Can we add Roboto Condensed as a font option? I'd like to try it out on some parts.

https://fonts.google.com/specimen/Roboto+Condensed

[2019-03-05 16:35] gmullins commented on #113
@christoball awesome!

[2019-03-05 16:50] christoball opened #122 "Erik Image Remakes"
- [x] NED 2011, https://data.tnris.org/collection/49c7fa9b-ab48-4c17-8f19-27253f7cfd08
- [x] Texas River, Streans, Water bodies, https://data.tnris.org/collection/af1ca25e-b38b-4203-90b8-d90f881963ae

[2019-03-05 16:56] adambreznicky opened #123 "historical product list sass"
product list sass needs attention. example:
/collection/e02bdfc8-0fec-447f-b50b-ed20b119e2d2

[2019-03-05 17:53] adambreznicky commented on #45
DO NOT MIGRATE agency TABLE FROM CONCIERGE TO LORE.
agency table has already been updated and is ahead of concierge table

[2019-03-05 21:46] jwhaney opened #124 "mobile collection menu color"
on mobile when in a collection, the three dots appear for the menu in the top right. the drop down when you click the three dot menu is blue. maybe this should be equal to $main-background, or another sass variable, with highlighted option equal to $primary-color?

[2019-03-06 13:52] adambreznicky commented on #118
as per out discussion yesterday:
- updated the template to move coverage map on new tab to be consistent with other template
- updated metadata to use source instead of agency. this was a bug that got missed when migrating from 'agency' to 'source' a few weeks back
- updated model to include additional collection agency details from tnris.org rdc page. added these to both the metadata component an

[2019-03-06 13:52] #118 closed

[2019-03-06 14:25] adambreznicky commented on #119
resolved e3bf116ff3ed01a88bb503bd3a96bef58e0e5f50

[2019-03-06 14:25] #119 closed

[2019-03-06 15:49] adambreznicky commented on #123
resolved f356035cb9e9e5c8b19b871a801b64f0a7f546ad

cleaned up the sass. only remaining issue is the vertical borders between "cells" related to word wrapping within very small, awkward resizing width of the window. no common on any of the mobile devices or desktop. i think it's a "non-issue" for now. can return when we have time to get picky.
the long term solution would be to implement a Material

[2019-03-06 15:49] #123 closed

[2019-03-06 16:13] adambreznicky opened #125 "update window resizing functions"
find and replace all window resizing/detection functions to use the new sass breakpoints file. this will create consistency across all components and ease the ability to update them.

[2019-03-06 16:23] adambreznicky commented on #125
aside from the react components, should also be used in the sass media functions. this would require importing the _breakpoints.sass into the main sass file and then using these variables thoughout all the various sass files (opposed to the stock material ones that the sass files are using now)

[2019-03-06 20:02] adambreznicky commented on #31
mobile download map disabled. all maps a fraction of view height to avoid map traps. updated geofilter instructions.
resolved 0ba906e5340e614217f7df3d1d341d83e7092012

[2019-03-06 20:19] adambreznicky commented on #125
component resizing updated via commit 05001887dfbcd402220a03291b0f2f851738ca8b

[2019-03-07 14:38] adambreznicky opened #126 "comprehensive footer sass"
footer sass needs to be tackled and managed. probably with variables. right now, the responsive height change on the footer is handled quite well with the highest level catalog component but all the maps are position: absolute and require that same @media responsiveness.

[2019-03-07 14:40] adambreznicky opened #127 "2000 card limit"
with no filters set, the total card count is 2053. scroll to the bottom on any desktop, phone, or tablet and the last few dozen cards are stacked on top of each other. how many are stacked? 53!
apply any filter and the stacking issue goes away. apply both external link and order only filters, this changes the count to 1928, and the problem goes away.
this must be a limit in material. maybe there i

[2019-03-07 14:43] adambreznicky commented on #125
breakpoints update via commit 2b2cbd623b20d293cc60530b5e1e4b4cd90ef3f2

[2019-03-07 14:43] #125 closed

[2019-03-07 19:29] jwhaney commented on #124
commit b8e18c7969ad10e99f7410d3f2925dc54432ff80

[2019-03-07 19:54] adambreznicky commented on #127
resolved 3a15d6ae7f5acf1c3faf8ba1317ab838dc173c34

[2019-03-07 19:54] #127 closed

[2019-03-07 20:37] #124 closed

[2019-03-07 20:38] jwhaney commented on #116
should be resolved with a855e54bebc49f4153ef08170189b567f3671aff

[2019-03-07 20:38] #116 closed

[2019-03-07 20:39] jwhaney opened #128 "mobile tool drawer sass"
small fix for mobile tool drawer top and padding needed.

[2019-03-07 21:00] jwhaney commented on #128
resolved via commit 30a71b03e65cf26780054be2d73254a8314df569

[2019-03-07 21:00] #128 closed

[2019-03-07 21:56] jwhaney commented on #36
mobile tool drawer scroll issue should be resolved withcommit 14b0df9c7ad9653e4dc202626303e1e0a99b8949, however, desktop needs some additional tweaks still.

[2019-03-07 22:06] ilyannakadich commented on #85
@christoball can you use either of these?
M:\Website\SM\AddressPoints.eps
M:\Website\SM\AddressPoints2.eps

[2019-03-08 15:24] adambreznicky commented on #121
added font family option via commit fc865e1ad6e95810426e42a2743a43526774adfb

can you provide details as to which "parts" you're looking at?

[2019-03-08 15:44] adambreznicky opened #129 "suggested search results phone width"
if search bar moves left (mobile), have suggested search results box sass to 100% wide

[2019-03-08 15:47] christoball commented on #85
@ilyannakadich Their content is good but they need to be horizontal, more of a landscape format, and not portrait. The images should be 16:9 aspect ratio. Should I just turn them?

[2019-03-08 15:49] christoball commented on #121
@adambreznicky Yes, I'd like to try out the following in Roboto Condensed:

- 'Data Catalog' Header
- All Data Card Titles
- The Main Headers on the full Entries

[2019-03-08 15:55] ilyannakadich commented on #85
@christoball  I have the .mxd open at my desk.  Can you come by to assist?

[2019-03-08 16:09] ilyannakadich commented on #85
@christoball  I replaced both images above.

[2019-03-08 16:46] jwhaney commented on #36
resolved with issue d719d977d0486304ff133d9677777055313e7394

[2019-03-08 16:52] JasonKleinert opened #130 "Search box auto selects from dropdown on enter"
If the user has moused over one of the suggestions in the dropdown and presses enter the search will fire on that item. This is happening even when a choice is not selected with a mouse click.

[2019-03-08 17:10] jwhaney commented on #121
Data Catalog header with font-family: 'Roboto Condensed', sans-serif;

![screenshot.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46fb978826878dba87e6ab01e81fe086264c22703d46f9692586b279e81b78560b0e49fd49515f45f4af8c2aa4be3922984019af80330b2b9b645bf9fa9015ad00bd2a8a4a80b4bc8c49c0e93c23e7899d02.png)

[2019-03-08 17:15] jwhaney commented on #121
Data catalog card titles/names only. Year and source not condensed.
![screenshot_1.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46fb978826878dba87e6ab7cf51fbcd6395428792c07b7692ac7b62bee132c580c581afd4609574dfcf8817da3b73e788f0e19f1c32f0e2a92624cf5f2d75dad0ba8218c4584b3b9884cc6ed3e25e688874f2c53.png)

[2019-03-08 17:24] jwhaney commented on #121
"The Main Headers on the full Entries"

![screenshot_2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b69c10b3c8a4500139e198f/125516c66e82c728ace21e0d46fb978826878dba87e6ab7cf61fbcd6395428792c07b7692ac7b62bee132c580c581afd4609574dfcf8817da3b73e788f0e19f1c32f0e2a92624cf5f2d75dad0ba821834584b3b9884cc6ed3523e288894e2c53.png)

[2019-03-08 17:25] christoball commented on #121
@jwhaney no, the other text would remain the same. This would just be for header/title elements. The source, year are more supplemental

thanks, its looking good.

[2019-03-08 17:40] jwhaney commented on #121
@christoball, did you want roboto condensed on all headers/titles?

[2019-03-08 17:43] christoball commented on #121
@jwhaney No, for now, just those. thanks

[2019-03-08 18:03] jwhaney commented on #121
closed with abf298b94ea29e9afd0801f4c2a0bf1d3eb36a28

[2019-03-08 18:03] #121 closed

[2019-03-08 19:50] adambreznicky commented on #126
resolved 49ae0ee8250e24e8bf28e9eeeee72084947cb89d

[2019-03-08 19:52] adambreznicky commented on #38
***footer popup menus and mobile template view dropdown menus (converted from tabs) need attention***

[2019-03-08 19:53] adambreznicky opened #131 "popup menu sass"
sass coloring for popup menus needs attention. this includes background and focus colors for footer popup menus, template view menu dropdown (mobile version of tabs), and search box suggestions dropdown

[2019-03-08 19:53] #126 closed

[2019-03-08 21:24] JasonKleinert opened #132 "Dark mode not honored when page loads in a non-catalog view"
If the page loads outside of catalog view, such as in collection view, the theme will revert to light mode. If you go back to the catalog view dark mode will be reselected.

[2019-03-08 21:46] jwhaney commented on #129
working on this, currently set to 145% of width; 100vw for some reason doesn't work. i'll keep experimenting.

commit 3e8e810b9634ec8e68b3f0323605abfe7bbb80e3

[2019-03-11 17:09] christoball commented on #122
updated

[2019-03-11 17:09] #122 closed

[2019-03-11 17:09] christoball commented on #85
All updated!

[2019-03-11 17:09] #85 closed

[2019-03-11 17:10] christoball commented on #108
updated!

[2019-03-11 17:10] #108 closed

[2019-03-11 17:14] christoball opened #133 "Outside Entity template description width"
I'm guessing we won't have a 'dataset citation' on the outside entity?

In that case, the description should still match the width in the other ones, leaving a gap where the citation would be.

Example of current width on TPWD entry:
https://data.tnris.org/collection/48ddc0ac-0f43-4b55-82fa-5f2d5f7fbd92

[2019-03-11 19:25] #72 closed

[2019-03-11 19:26] mitchellryant commented on #133
This was discussed between @jwhaney and myself, but was forgotten to be implemented on external entity template.

[2019-03-11 20:06] jwhaney opened #134 "Geography filter, download, and coverage map pitch & bearing tool"
add a tool tip or explanation of how to use the pitch and bearing (i think that's what it's called) tool. it's not obvious how to use which you have to hold control and then use the mouse or you can hold down the mouse on top of the tool. not very intuitive.

[2019-03-11 20:10] jwhaney opened #135 "Download and Coverage map on hover popup"
change the download and coverage map polygons to have a popup on hover vs. on click.

feedback from aubrey drescher on 3/11/19:
"On first glance, it isn’t obvious how to download data from the map. Perhaps change the download popup to show on hover instead of on click. I think this would also be helpful when the download area isn’t the entire state, to help people find the county or quad they are

[2019-03-11 20:13] jwhaney opened #136 "Add filter options by file type & download format"
feedback from aubrey drescher on 3/11/19:

"Consider adding “By File Type” and “By Download Format” to the filter options. I think most GIS pros would be interested in knowing that before clicking on the cards."

[2019-03-11 20:17] jwhaney opened #137 "Catalog cards available for download"
add a highlight, maybe an inset border, to the catalog cards that are available for download. or just change the filter option to 'Download' instead of 'Download and Order'.

feedback from aubrey drescher on 3/11/19:

"Consider highlighting the catalog cards which are available for download. Or, change the “Download and Order” filter option to “Download” (Since you’ve already got an “Order Only” o

[2019-03-11 20:29] adambreznicky commented on #132
resolved 7dfe772959a940c664d373d953c0a179f8b431e8

[2019-03-11 20:29] #132 closed

[2019-03-11 20:29] jwhaney commented on #133
resolved via commit 08074f8ee9f67199fa1867bce843dc3c7f74f4e8

[2019-03-11 20:29] #133 closed

[2019-03-11 20:40] christoball commented on #113
images remade. resolved

[2019-03-11 20:40] #113 closed

[2019-03-12 12:46] JasonKleinert opened #138 "add "back to catalog" button after adding item to cart"
once an item has been added to the shopping cart, add a "back to browsing catalog" (or the like) button to the page so the user can just press that button to go back. The normal back to catalog button is in the header at this view, but it might be more helpful to provide a quick way back from there so it is more obvious.

[2019-03-12 12:48] JasonKleinert opened #139 "Hyperlink to collections in shopping cart view"
The list of collections in the shopping cart could be hyperlinks back to that collection view so the user can easily navigate there if browsing in their cart.

[2019-03-12 13:45] adambreznicky opened #140 "cart X button to other views"
add top right X button from cart view to geofilter view.

[2019-03-12 13:46] adambreznicky commented on #138
we should center the text/button also

[2019-03-12 13:54] adambreznicky opened #141 "grid button in header"
- remove the grid catalog button from the right hand side of the header.
- then enable the 'Data Catalog' title with the grid catalog button functionality as the 'button' to return to the catalog view.
- then on set it up so that on mobile, the title becomes the current Grid icon instead of just disappearing

[2019-03-12 14:05] adambreznicky opened #142 "order cart success/error text sass"
qc feedback said there was no user feedback text after submitting an order in the order cart. text does appear but the user couldn't see it and thought nothing was there. this is most likely a sass issue. probably behind the header?

updated the order response sass to lower and center the text. use the template order form response text sass as an example as it's response text is low enough not to

[2019-03-12 14:08] adambreznicky opened #143 "county coverage map coverage blurb"
add a blurb to express that the dataset may not cover the entire county as shown in the map and merely covers it 'to some degree'. this used to be expressed by the county list text (before it became it's own tab) with "this dataset either partially or full covers the following counties..."

from the current download site, could utilize the line "Imagery may have incomplete coverage for a particula

[2019-03-12 14:11] adambreznicky opened #144 "order cart form hard drive caption"
in the order cart checkout form, under the Hard Drive section: add to the 1TB caption text the line "TNRIS does not provide multiple 1 TB hard drives for orders larger than 1 TB." as it helps justify/elaborate the current caption text.

[2019-03-12 16:12] christoball opened #145 "Header, Logo Fixes"
Use the mockup in following comments to make changes to Catalog Header. Let me know if you have any questions or thoughts about it.

This will unify the catalog with the tnris website on launch of the catalog, which will also be adjusted to coincide with this.

[2019-03-12 16:13] christoball commented on #145
![catalog-header-adjustments.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46eb958e228e8caec2e1ba42a058e2d928422d663a10ae2e7e91f06af3006b1300051bff054a5556f9aa882aa1bf6f77de0d0cbcd9645f75ce6b14adba8a1aed13a632c91edbe2e3d7158abd7f37ed998e48341f001d8bfb5d32a19149cd59f659ac.jpg)

[2019-03-12 16:14] christoball commented on #145
The white tnris logo is available as an svg here:
http://www.tnris.org/static/images/tnris_logo.svg

[2019-03-12 16:24] csidenblad opened #146 "No zip file upload accepted"
Can not add zip shape or kml to Area of Interest Boundary File on Orders.
When attempted to upload, white/blank screen shows up and no dataset is added to the cart.
Try to submit, kmz, kml.zip, shp.zip.

[2019-03-12 16:25] csidenblad opened #147 "Filter by Geography Instructions"
Instructions stop after drawing of polygon. Need to include 'click to set map filter button' (bottom right hand corner)

[2019-03-12 16:27] #111 closed

[2019-03-12 16:27] csidenblad opened #148 "Order form text"
Change the language to upload AOI. Needs to state "upload can only be .zip and must include a shp or kml file format."

[2019-03-12 16:29] csidenblad opened #149 "Download Map layer selector"
Hide QQUAD/County if only one layer available.

[2019-03-12 20:15] adambreznicky commented on #148
resolved 0d85a567dc67fedf7b41325e14c533ac7c02ad8d

[2019-03-12 20:15] #148 closed

[2019-03-12 20:15] adambreznicky commented on #146
resolved 0d85a567dc67fedf7b41325e14c533ac7c02ad8d

[2019-03-12 20:15] #146 closed

[2019-03-13 12:11] mitchellryant opened #150 "Testing"
Please test app on 2-3 version of Chrome, Firefox, Safari, Opera, IE or Edge browsers.

[2019-03-13 12:20] adambreznicky commented on #147
resolved a67a062c887adf6b79a1d161ed42ac7d0b4e28f3

[2019-03-13 12:20] #147 closed

[2019-03-13 12:29] jwhaney commented on #150
hmmm, firefox isn't looking good. collection cards won't open to collection views giving a NS_ERROR_ILLEGAL_VALUE error. See below screen shot of console.

![Screenshot from 2019-03-13 07-28-37](https://user-images.githubusercontent.com/13525011/54278868-a42bf800-4561-11e9-869f-a6aa8df274a0.png)

[2019-03-13 12:45] adambreznicky commented on #149
resolved b8229bf8bc84fa86a26cea4cf81ec409ec2b8086

[2019-03-13 12:45] #149 closed

[2019-03-13 12:49] adambreznicky commented on #144
resolved b002880632d323eda8dcb2321432d8e47ba2fa7a

[2019-03-13 12:49] #144 closed

[2019-03-13 13:05] adambreznicky commented on #143
3e2a443bc8733b7b6ed922a21fce872bdf62e2bd resolved

[2019-03-13 13:05] #143 closed

[2019-03-13 15:12] jwhaney commented on #145
commits 773cd7984fd1f1db1a2aa712a7421985a6030be8, 59229e456980ebfeaae2c3a64e4f16ec24e199e0

[2019-03-13 15:16] jwhaney commented on #145
reference commit 59229e456980ebfeaae2c3a64e4f16ec24e199e0

[2019-03-13 15:17] #145 closed

[2019-03-13 17:05] jwhaney commented on #139
resolved with 58708e5fa624e8d7262baeefb272c50b14b43c1c

[2019-03-13 17:05] #139 closed

[2019-03-14 15:55] adambreznicky commented on #141
resolved d13d87603f5e6d7c048b4c82ecf52d0c0c22a7e4

[2019-03-14 15:55] #141 closed

[2019-03-14 16:25] mitchellryant opened #151 "Download Template: Zip File"
Can the href be changed to just Download?

<img width="740" alt="Screen Shot 2019-03-14 at 11 22 44 AM" src="https://user-images.githubusercontent.com/8459928/54373746-d44fc580-464b-11e9-97c1-c9735e8781d4.png">

[2019-03-14 16:31] mitchellryant opened #152 "Contact Forms"
Can you change the email subjects to remove data.tnris.org?

Dataset Inquiry
Dataset Order
Historic Order
Historic Inquiry

If the collection name(s) could be added that would be cool, but not as deal killer.

[2019-03-14 17:02] adambreznicky commented on #142
resolved 60d6cc6115e161f89836705ae70c7e9ca3a6770d

[2019-03-14 17:02] #142 closed

[2019-03-14 18:38] adambreznicky commented on #151
resolved 69871ec4e0d2ab7acb0c1d4a42aa2a4724ea3ff4

[2019-03-14 18:38] #151 closed

[2019-03-14 18:40] mitchellryant opened #153 "External Entity Template"
Datasets and information on the {collection name} are maintained by an entity other than TNRIS. The provided links and emails will take from the TNRIS site.

nested columns 8-12
heading: External Entity Disclaimer
match citation

[2019-03-14 19:00] adambreznicky commented on #152
contact app updated via commit 7c271515216aa2acca05a65b5a6404763b684297

emails are sent under only 2 identifiable types: contact inquiry and data orders. there is not differentiation between historic vs non-historic.
contact app is also setup such that the subject is pre-defined within a default config file for each 'type' of email opposed to dynamic based on the content of the inquiry.
also, ord

[2019-03-14 19:00] #152 closed

[2019-03-14 19:01] adambreznicky commented on #140
resolved 60d6cc6115e161f89836705ae70c7e9ca3a6770d

[2019-03-14 19:01] #140 closed

[2019-03-14 19:29] adambreznicky commented on #153
resolved 9c66089fc73b4bf6f532c987be7c833d69a4fa4b

[2019-03-14 19:29] #153 closed

[2019-03-14 20:24] mitchellryant opened #154 "Not Public Collections"
should be deleted!
![off-with-their-heads](https://user-images.githubusercontent.com/8459928/54389079-45ec3b80-466d-11e9-8742-8f787b786837.jpg)

[2019-03-15 12:59] adambreznicky commented on #135
experimented with making popups fire on hover. they are a little clunky, cumbersome, and take away from the user experience.

it creates a flaw also with downloading as one must move the cursor into the popup to click the download link but the popup immediately disappears when one moves their cursor so it's impossible/extremely difficult to get into the popup to download

let's punt this idea for

[2019-03-15 12:59] #135 closed

[2019-03-15 14:28] adambreznicky commented on #131
resolved 52b9d226a85d1263d3dadd7134fb65e350e60957

[2019-03-15 14:28] #131 closed

[2019-03-15 16:35] adambreznicky commented on #138
after reviewing this prospect and discussing with @JasonKleinert , we decided to hold off on this idea for now. it's a bit redundant to the current catalog grid button that's present and it removes a user's ability to continue working with the collection they're looking at.
we can return to this idea if a need arises again in the future

[2019-03-15 16:35] #138 closed

[2019-03-19 16:13] christoball opened #155 "TNRIS Logo too small, other header fix"
The TNRIS logo is too small in the header.

In my mockup I specified 75px wide for the logo. It looks like it's set to width: auto, based on how heigh the mdc-top-app-bar_ is.

This will not match with the current website and just looks too small.

Setting the header at 30px makes the logo 70px wide. I think this is fine if we want the top bar to take up less space but any smaller doesn't look goo

[2019-03-19 16:26] christoball commented on #155
Here is the header mockup I submitted with the last issue.

![header.jpeg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/599de1581827cf2b06d2e400/125516c66e82c728ace21e0d46e0919b278791ebc3abaf51ab57f5973d047d317c07f27a27dce07fbb432c0057564ead490e5a45fef18c79b4aa2e32db025fb28c341521842f1bbeb98b15be04bf238b4e87b1b9884dc5eb2f68.jpeg)

[2019-03-19 17:01] jwhaney commented on #155
i'm aware of the mockup you provided. i looked at increasing the blue header to allow for the larger tnris logo you specified and we agreed that it was too big. currently, on tnris.org the logo is not in the blue header, it's in the black portion underneath which provides more room for a larger logo. i don't mind increasing it a little for a bigger logo but it might not be 70px wide.

just an FYI,

[2019-03-19 19:02] jwhaney commented on #155
clarification with @christoball on matching data.tnris.org blue header with the NEW tnris.org design make sense.

changes made include blue header to height of 35px, logo to 30px height with 4px padding-top, 0px letter-spacing for twdb text, and baseline for tnris and twdb text to bottom of image.

[2019-03-19 19:38] jwhaney commented on #155
resolved with commit 9ab892ce0845e516ee843637aa7e1fbb41752817

[2019-03-19 19:39] #155 closed

[2019-03-20 15:08] adambreznicky opened #156 "prerender account billing"
- update billing information for prerender.io account (creds in enpass)
- once account upgraded and cache page limit increased, enter the sitemap url to pre-cache the current pages

[2019-03-20 15:11] jwhaney opened #157 "test this"
this is a test issue

[2019-03-20 18:46] #157 closed

[2019-03-20 18:46] christoball commented on #49
@JasonKleinert The Dark Mode looks just about ready in my view.

Main change is to make the background under the cards to be darker so they stand out.

The background for <div class="catalog"> can be made #222222

[2019-03-21 14:54] JasonKleinert commented on #130
closed with commit 1cba7531f0177c6c1aa783f6de57b8296d646dae

[2019-03-21 14:54] #130 closed

[2019-03-25 12:06] adambreznicky opened #158 "inconsistent naip search"
as per feedback--
Just noticing when I search for the following on data.tnris.org I get no results.
2010 naip
naip 2010
2012 naip
naip 2012

While this does bring up the dataset successfully.
naip 2004
2004 naip
naip 2006
2006 naip

@adambreznicky was able to reproduce this. @jasonkleinert got different, but still inconsistent search term, behavior. something to look into in the future.

[2019-03-25 12:34] adambreznicky opened #159 "scroll to top button"
in catalog view, if a user is scrolling down the card list, a button should appear in the bottom right corner after having scrolled a bit (1500px? or something of the like). i imagine it to be a circular floating action button (FAB) with an icon pointing to the top. when clicked, it scrolls back to the top of the list.

one basic example here: https://www.lulus.com/categories/13/dresses.html

[2019-03-25 12:37] adambreznicky opened #160 "contact and order template tabs - add min height"
after adding a dataset to the shopping cart from it's template view, the content height is small enough that the dropdown of tab/list options gets cut off. i think this could be a problem after submitting a contact form also. need to set a min height for the page content div so the dropdown doesn't get cut off
![Screenshot from 2019-03-25 07-35-49](https://user-images.githubusercontent.com/5650145

[2019-03-25 16:30] ThorTheDestroyer commented on #112
Hey Chris, I'm starting to work through these.  I've placed the first two(that i checked above)in the repository below.

M:\Website\joey_remakes_datacatalog

I can only export them at 72dpi, but i think we can resample them to 300dpi after I crank up the size.  Let me know if the images i already made can get to the dimensions you are looking for.  If not let me know and I'll do some various size

[2019-03-25 16:32] christoball commented on #112
Thanks, Joey, these have large enough pixels dimensions that the DPI doesn’t make a difference in this case.

From: ThorTheDestroyer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "TNRIS/data.tnris.org" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 25, 2019 at 11:30 AM
To: "TNRIS/data.tnris.org" <data.tnris.org@noreply.github.com<mailto:data.tnr

[2019-03-25 16:46] christoball commented on #112
For reference, this is how this image will looked cropped to 16:9

would it be possible to use a different color than purple? Maybe a redder tone?

[cid:C131E890-2326-45F5-BE01-BE8B23902069]

From: ThorTheDestroyer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "TNRIS/data.tnris.org" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 25, 2019 at 11:3

[2019-03-25 18:06] mitchellryant opened #161 "Load Time"
Can the load time be decreased? 15-20 seconds is too long for the page to load.

Tested at my house using laptop and ipad.

[2019-03-25 18:23] adambreznicky commented on #161
the load functionality would need a deep dive in order to reconfigure the way it works. this is a significant and fundamental change to the app. i'm swapping out the v1 TODO label for a future label since this is a major enhancement and needs to be looked at later down the line. we can glance at it now but i cannot imagine this is the type of thing that can be fixed in the next few days.

[2019-03-25 18:25] adambreznicky opened #162 "hide grid button in mobile header"
on mobile, the title in the header becomes a grid icon. this should be hidden/display: none when the 'view' is not catalog. it should exist for all other views.

[2019-03-25 18:46] JasonKleinert opened #163 "change standard wording in "share" button templates"
The templates populated after clicking one of the share buttons (twitter, email, facebook, reddit) reference the "data holodeck". We should change that wording to match the app. I guess that's data catalog? Or maybe just TNRIS Data?

[2019-03-25 18:50] mitchellryant opened #164 "Sharing Subject"
Please change Sharing Subject. Remove Holodock and second data.

Maybe: Check out this TNRIS Data Catalog Collection!

<img width="478" alt="Screen Shot 2019-03-25 at 1 47 37 PM" src="https://user-images.githubusercontent.com/8459928/54945805-ab111e00-4f04-11e9-800d-991f2eb9f73f.png">
<img width="552" alt="Screen Shot 2019-03-25 at 1 48 18 PM" src="https://user-images.githubusercontent.com/8459928

[2019-03-25 18:52] JasonKleinert commented on #163
duplicate of #164

[2019-03-25 18:52] #163 closed

[2019-03-25 18:54] mitchellryant commented on #161
Does load time decrease if categories are changed to everything but Historic?

<img width="252" alt="Screen Shot 2019-03-25 at 1 52 46 PM" src="https://user-images.githubusercontent.com/8459928/54946176-80739500-4f05-11e9-9299-bee235df227e.png">

[2019-03-25 19:21] JasonKleinert commented on #49
@christoball I updated dark mode with a darker background. I ended up not making it as dark as #222222 so it would contrast with the footer and header.

[2019-03-25 19:33] adambreznicky commented on #161
no, that shouldn't make any difference. load time is based on the retrieval of all the collections from the api, not their display. i think the best luck at an efficient fix would be upping the ec2 and rds cpu hardware or
(possibly) the number of instances of the app container

[2019-03-25 20:36] adambreznicky commented on #161
updated collection views to be materialized. this has cut load time down to 3-9 second range.

will need to continue to materialize views and tune dbase for performance
also, need to set up materialized view refresh triggers

[2019-03-26 12:08] adambreznicky commented on #161
to do:
- [ ] materialize other views (ChC & CCR done)
- [ ] write materialized views refresh triggers (every 24 hours)
- [ ] write routines to index all tables on a schedule
- [ ] write routine to update carto CSV in s3

[2019-03-26 12:49] jwhaney commented on #164
resolved with commit 493b2a134f394eb916ee65c4f819fdf1fa3f76ad

![image](https://user-images.githubusercontent.com/13525011/54998205-8c119b00-4f9b-11e9-9389-ccbf2c317985.png)

[2019-03-26 12:49] #164 closed

[2019-03-26 20:30] jwhaney commented on #164
updated to new app title dataHub with commits b233fc5e2e92f11f9090b376e3f1b2b7c30e0973

![image](https://user-images.githubusercontent.com/13525011/55031160-f77b5d00-4fdb-11e9-907c-c45492eab1e5.png)

[2019-03-26 20:31] #162 closed

[2019-03-26 20:50] christoball opened #165 "Left align on data entries"
Can you align the titles and metadata on entries to the same left line?

The metadata text doesn't need to be left aligned, just everything shifted over so the divider line is left aligned.

![image](https://user-images.githubusercontent.com/1877550/55032278-8f7a4600-4fde-11e9-889c-9a7110c001b4.png)

[2019-03-26 20:51] #160 closed

[2019-03-27 14:12] jwhaney opened #166 "change app title to bactrian camel case"
"DataHub"

[2019-03-27 15:10] jwhaney commented on #166
or maybe this? i like this...

![dataHub](https://user-images.githubusercontent.com/13525011/55087678-77570500-5078-11e9-947a-83ab7ea86f2b.png)

[2019-03-27 16:01] JasonKleinert commented on #154
All is impermanent all have been deleted.

[2019-03-27 16:01] #154 closed

[2019-03-27 18:18] csidenblad opened #167 "Change text color on Order Form (Dark Mode"
The text for the drop downs on the order form are not legible. (i.e. state and industry) White text on white background. Can we change text color to something darker?
![image](https://user-images.githubusercontent.com/23489372/55104195-e98b1200-5097-11e9-93ad-0fd2e7b73166.png)

[2019-03-27 18:43] csidenblad opened #168 "Order Form Changes"
- [ ] remove  "TNRIS will call for credit card number? " within Payment method.

[2019-03-27 18:44] csidenblad opened #169 "Pricing Summary Revisions"
- [ ] Can we please revisit the language on this before publishing?

Historical search (1 image per decade): $40.00 per site
Historical Imagery cost: ‘1 image per decade’? What exact does this mean? And ‘per site’? Does that mean if someone sends a shapefile with multiple locations that I should be charging per individual feature in the AOI?

[2019-03-27 18:45] csidenblad opened #170 "Parcels shown statewide"
Parcels geography/extent needs to be updated to show current county coverage, still filtering as a statewide dataset.

[2019-03-27 18:52] csidenblad commented on #167
Can we also lighten the text for ‘no file chosen’ from black while in dark mode?

[2019-03-28 13:39] jwhaney commented on #169
reference issue #37

[2019-03-28 14:13] ThorTheDestroyer commented on #169
@csidenblad @LaurenKirk Good point! Lets change it to this.

## Historical Imagery Reproduction Costs

- Full historical search : $40.00 per site
- Single year historical search: $18.00 per site
   -   Standard historical searches are delivered on 8 1/2" x 11" laser copies(1 image per decade for full historical)
- Scanned historical frame: $10.00 per image
- Scanned + georeferenced historical fram

[2019-03-28 14:18] ThorTheDestroyer opened #171 "Historical imagery collection catalog metadata additions"
- [ ] add to and from date(under the heading coverage dates) to metadata section of historical imagery datasets in the data hub
- [ ] add collection/mission(under heading collection mission number) to metadata section of historical imagery datasets  in the data hub

Feel free to name the heading something else if you think of anything that will read better.

[2019-03-28 14:34] csidenblad commented on #169
@ThorTheDestroyer @LaurenKirk
Yes, that is better. Can we keep "1 image per decade" with the Multi-year search?

•   Multiple year search (1 image per decade): $40.00 per site
•   Single year search: $18.00 per site
•   Scanned historical frame: $10.00 per image
           - Historical searches are delivered on 8 1/2" x 11" laser copies if paper copy is requested
•   Scanned + georeferenced histor

[2019-03-28 14:36] csidenblad commented on #169
@ThorTheDestroyer @LaurenKirk
Or maybe "1 image per collection"?

[2019-03-28 14:41] LaurenKirk commented on #169
@ThorTheDestroyer @csidenblad

Correct me if i'm wrong but could we do something like this:

**Research fee:**
• Multiple year search (1 image per decade): $40.00 per site
• Single year search: $18.00 per site
--------------------------------------------------------------------
**Additional fees:**
• Scanned historical frame: $10.00 per image
- Historical searches are delivered on 8 1/2" x 11" las

[2019-03-28 14:41] LaurenKirk commented on #169
dont know why that whole top section became bold.  only meant to bold the "research fee" title

[2019-03-28 14:42] LaurenKirk commented on #169
Research Fees:
• Multiple year search (1 image per decade): $40.00 per site
• Single year search: $18.00 per site
--------------------------------------------------------------------------
Additional Fees:
• Scanned historical frame: $10.00 per image
- Historical searches are delivered on 8 1/2" x 11" laser copies if paper copy is requested
• Scanned + georeferenced historical frame: $20.00 per im

[2019-03-28 14:43] LaurenKirk commented on #169
F*ck it I cant format in here

[2019-03-28 14:48] ThorTheDestroyer commented on #169
well if they want digital, then 1 image per decade is misleading. stating that it is 1 image per decade for paper copies is the rule. it doesn't apply to digital.

[2019-03-28 17:57] mitchellryant opened #172 "TLS"
Scanning your site.   Noticed you running TLSv1   This needs to be disabled.  You should be using TLSv1.1 and TLSv1.2

[2019-03-28 18:04] mitchellryant opened #173 "Accessibility"
Here is my review on accessibility with suggestions to improve.  I’ve attached the Accessibility and Security Approval form for your review; please print, sign, and route it to me.

- [x] This website falls under **TAC 213.17 (2)** – GIS Software Exemption on file by DIR.  In short, we are not required to make this site accessible to the screen readers used by visually impaired or the blind.
- [ ]

[2019-03-28 18:16] mitchellryant opened #174 "Load Screen"
Per Richard.

@JasonKleinert showed me this https://www.react-spinners.com/

I like the Grid loader.

[2019-03-28 18:25] adambreznicky commented on #45
re-run of index_scans_etl is postponed for further edits and uploads by rdc. kicking that one into a new issue

[2019-03-28 18:36] adambreznicky opened #175 "index scans bulk update"
the following are the tasks which need to be completed for the index scans to be 'completed' and in s3 for public availability through the dataHub:
- [ ] printed list of 350+ scanned indexes which exist in s3 but cannot be tied to any collection in the dataHub database: these need to be reviewed and have their dates updated either in the filename or in the database to be correct and relational @La

[2019-03-28 18:52] mitchellryant commented on #174
[state_animated.svg.zip](https://github.com/TNRIS/data.tnris.org/files/3019729/state_animated.svg.zip)

[2019-03-28 20:07] adambreznicky commented on #172
in aws, brought up the load balancer. clicked the Listeners tab. for https protocol, under the Cipher column, chose to 'Change'. Changed to ELBSecurityPolicy-TLS-1-1-2017-01 to permit only TLSv1.1 and TLSv1.2, not TLSv1.0

[2019-03-28 20:07] #172 closed

[2019-03-29 12:56] adambreznicky commented on #168
you think it should go away completely or just be changed?
i do see the benefit of it being there insofar as users who choose a credit card payment method will by default expect to enter it in the form but we don't work that way.

maybe we should just take it out of the parenthesis and put it below as a smaller, lighter caption like the 'Fedex' delivery option does for it's note? (see pic)

![Scre

[2019-03-29 12:58] adambreznicky commented on #166
title should be updated in the html template head <title> tag also. right now it says "TNRIS Data", boooooooo

[2019-03-29 13:00] #49 closed

[2019-03-29 13:02] adambreznicky commented on #38
tabbing completed.
exempt from accessibility but suggestions from coordinator in issue 173

[2019-03-29 13:02] #38 closed

[2019-03-29 13:06] adambreznicky commented on #26
this will be a running task for @christoball @gmullins @ThorTheDestroyer related to all datasets. the bulk standardization has been compeleted by @christoball already (which is what this issue was really about) so i'm closing it

[2019-03-29 13:07] adambreznicky commented on #5
map zoom restrictions all removed with the exception of NAIP and TOP datasets because they are the ones known for sure to be qquad and statewide

[2019-03-29 13:09] adambreznicky commented on #2
explore tab has gone away.
county coverage map has taken it's place for now.
somewhere down the line, when the historical collection frames start running through ls4 and there is stuff to download we can visit the situation at that time

[2019-03-29 13:11] adambreznicky commented on #156
submitted information to @rwade2126 and @pwblanton
awaiting approval paperwork and finance

[2019-03-29 14:49] adambreznicky commented on #166
resolved 0e2c6fd6404ed3916014aba39cd66b8636f29742
also updated favicon

[2019-03-29 14:49] #166 closed

[2019-03-29 15:58] adambreznicky commented on #161
outside_entity_services lambda should needs to be updated and deployed to run a refresh on the ccr materialized view after updating the table.
wiring a trigger to this table is waaaaay too cumbersome as it would fire hundreds of times. lambda should just run a single refresh after all table updates complete

[2019-03-29 20:04] jwhaney commented on #150
UPDATE: initial load of app indicates no errors in firefox, opera, chromium/chrome on linux os. on the local network, there still seems to be a fail to load the carto cdn.

This is believed to be some type of local network problem though... App does not have problems loading the library on iOS/phones that are connected to TWDB wifi or own cellular network. When the error does occur, the library is

[2019-03-29 20:25] adambreznicky commented on #161
wrote materialized view refresh into lambda function after experimenting with triggers and seeing terrible admin console performance
triggering on table edits runs the refresh after every admin console edit and save. this caused every save to extend time to include the refresh, ultimately leading to admin console edits timing out (nginx has max time of 30 sec).
lambda created in commit f7dc8cfc637

[2019-04-01 13:46] JasonKleinert commented on #174
Changed to grid loader per your request @mitchellryant. closed with commit fe506d34b1242d11f42384a5a1e659000cd754a2

[2019-04-01 13:46] #174 closed

[2019-04-01 13:46] JasonKleinert commented on #167
closed with commit fe506d34b1242d11f42384a5a1e659000cd754a2

[2019-04-01 13:46] #167 closed

[2019-04-02 13:39] mitchellryant opened #176 "Add Maps"
Per request for our leader, maps will be added to DataHub.
At this time only adding Standard Map series maintained by @e00o.

Backend: new table to hold info. Relates to datasets.
Frontend: new template.

There is more

[2019-04-02 13:40] mitchellryant commented on #170
corrected by @adambreznicky update of resources.

[2019-04-02 13:40] #170 closed

[2019-04-02 18:54] csidenblad opened #177 "New Field to Cart Form"
Add new text field for additional information on cart form. Open text box for any notes customer wants to leave.

[2019-04-03 14:15] adambreznicky commented on #161
resource_management view is used by download map (RemView; /resources api endpoint) and should be materialized

[2019-04-03 15:20] csidenblad opened #178 "No Coverage Map for Harris County Flood Control 2001"
This dataset does not have a coverage map. Please update. @ThorTheDestroyer @mitchellryant

[2019-04-03 15:33] ThorTheDestroyer commented on #178
@mitchellryant I'll make the index shape.

[2019-04-03 15:45] csidenblad commented on #178
Dev's had me check again and looks like coverage is there. Just wasn't loading when I looked the first time. @ThorTheDestroyer

[2019-04-03 16:23] adambreznicky commented on #161
updated areas_view csv to drop into nested carto-resources folder in s3 rather than the bucket base

[2019-04-04 01:04] JasonKleinert commented on #178
Verified this one has a coverage map.Issue was created because of our persistent in network cdn error, so it appeared that there was no map.

[2019-04-04 01:04] #178 closed

[2019-04-04 01:07] JasonKleinert opened #179 "Wider search box"
Expand the search box a bit so longer inputs aren't truncated on laptop screens. Tested on dell xps 13.

[2019-04-04 01:14] JasonKleinert opened #180 "Clear the search box once a collection is selected"
Once in collection view, clear the search box so it is more obvious that we can search the collections again. Disabling the return to catalog on clear of the search might also be something to try. The current functionality just seems a little jolting. The DataHub experience should be Steely Dan, smooth.

[2019-04-08 14:13] #180 closed

[2019-04-08 14:16] JasonKleinert commented on #158
closing because this bug can't be reproduced. Will reopen if it comes up again.

[2019-04-08 14:16] #158 closed

[2019-04-08 14:45] JasonKleinert commented on #179
closed with commit 249ca7a24f079df44e74ffa7aff94c190ec01693

[2019-04-08 14:45] #179 closed

[2019-04-08 16:40] christoball opened #181 "Make 'filter by geography' tip on map default to open on desktop"
Instead of hiding the tutorial info by default, have it open on desktop.

Default to hidden for Mobile.

[2019-04-08 20:39] gmullins commented on #112
@ThorTheDestroyer Can you please prioritize replacing this one?
- [ ] Lidar Availability Index
Ryan doesn't like seeing the big white space in the Gulf of Mexico upon first open of the DataHub ;) Thx.

[2019-04-08 20:41] ThorTheDestroyer commented on #112
Sure thing.

[2019-04-09 13:17] JasonKleinert opened #182 "Update materialized view on save"
use Django signals and django.db.connection to update the materialized view wheen a model is saved. I think we can use Django siganls in place of db triggers to update our views on save.
1. https://stackoverflow.com/questions/1197674/actions-triggered-by-field-change-in-django
1. https://stackoverflow.com/questions/5931586/raw-sql-queries-in-django-views

[2019-04-09 15:43] mitchellryant commented on #112
@christoball can you proceed with cropping the Bandera and Lidar Lidar Availability Index images so they can be pushed to the site. I do not see the Bastrop Image.

[2019-04-09 16:03] christoball commented on #112
@mitchellryant @ThorTheDestroyer I reduced the size of the lidar availability and reuploaded. It shows in the admin console but also doesn't appear in the live site for me.

[2019-04-09 16:20] mitchellryant commented on #112
@christoball the is up to an one hour delay to rebuild the materialized view. But I see the image now.

[2019-04-09 16:44] gmullins commented on #112
It's beautiful!

[2019-04-09 19:57] ThorTheDestroyer opened #183 "Collection Cards: Supplemental reports upload failing"
Can't seem to get the supplemental reports or the breaklines to upload to a new collection after selecting a zip.  Any ideas/suggestions?

[2019-04-09 20:00] csidenblad opened #184 "Historical Collection Cards: Product #"
Remove product number from the Product Information listed on right hand side of dataset details.
![image](https://user-images.githubusercontent.com/23489372/55830783-4f838a80-5ad7-11e9-83cd-69b6b8e555e8.png)

[2019-04-09 20:14] jwhaney commented on #183
i just created a test collection and was able to upload test zip files for both supplemental reports and breaklines.

[2019-04-09 20:17] jwhaney commented on #183
make sure and save the new collection before uploading assets (.zip files or images).

[2019-04-09 20:47] jwhaney commented on #183
another thing you may want to check is your zip file sizes. max file size for supplemental reports, breaklines, and tile indexes is 75mb.

just to be sure, i also tested this on a windows vm to make sure it's not something with windows OS messing with the zip file. seems to work just fine from what i can tell.

i'm gonna close this out now. feel free to swing by if you are still having trouble wit

[2019-04-09 20:47] #183 closed

[2019-04-09 23:10] ThorTheDestroyer commented on #112
For the new lidar collections current in the process of being added, is it preferred that images be placed in the same repository as the above. I’ve been making them 9x16 in dimension at 300 dpi when possible, but Chris mentioned a web optimized size(related to format?). I’m happy to make the changes on my side if those can be shared, otherwise I’ll just drop them in the same repository.

[2019-04-10 13:08] ThorTheDestroyer commented on #183
@jwhaney The supplemental reports are larger than 75MB.  Is that a hard cap?  The zip file i have is about 220 MB.  If we need to exclude information that may be possible to make it smaller.

[2019-04-10 14:34] jwhaney commented on #183
220mb is really big. when determining the 75mb cap, we looked at a lot of the collections with supp reports, breaklines, etc, and found that most max file sizes didn't exceed 20 - 30mb i believe. we gave extra room at 75mb but there really shouldn't be a reason to upload more than that.

i would suggest meeting with @gmullins to work on a set standard for what the supp report zipfiles should consi

[2019-04-10 14:39] ThorTheDestroyer commented on #112
@christoball Bell burnet mcclennan is done, but I can't check the box for some reason.

[2019-04-11 15:29] christoball opened #185 "Instruction Tip on Download Tab"
I think a small Instruction tip to let people know to click on polygons to see the available data would be helpful. Just seeing a map doesn't immediately tell people what they should do.

Can be similar to the filter by geography tooltip.

[2019-04-12 16:07] jwhaney commented on #185
resolved with c03058608c874aa39eb8f8aa00e8784962d14eae

[2019-04-12 16:08] #185 closed

[2019-04-12 16:09] jwhaney commented on #181
resolved with 392352e182472eb05850deb7f539d957c6ed4fd6

[2019-04-12 16:18] jwhaney commented on #181
also, for mobile - 6834f37e0c0b3efd72559172d129499976027a84

[2019-04-12 16:19] #181 closed

[2019-04-12 18:22] adambreznicky commented on #168
resolved 5cb24ac7a02fee076245178cb53f3176f40c4f92

[2019-04-12 18:22] #168 closed

[2019-04-12 18:27] adambreznicky commented on #184
resolved a985ead60722b69173549fb3001f04b8a3a71c3f

[2019-04-12 18:27] #184 closed

[2019-04-12 18:59] adambreznicky commented on #177
resolved 3f1ef7e2458e8345f9299acd887ff575d34714cc
will be available in the next deployment

[2019-04-12 18:59] #177 closed

[2019-04-12 19:02] #150 closed

[2019-04-12 19:05] #129 closed

[2019-04-12 20:02] jwhaney commented on #165
resolved with b1b64ddc46ce3a9b22227e7960d46656bd4f51c9

[2019-04-12 20:02] #165 closed

[2019-04-23 16:24] adambreznicky commented on #175
updated scanned index list on tnris.org/mapserver to be dynamic from the database so that it's always matching what is managed in the dataHub admin console

[2019-04-23 16:39] adambreznicky commented on #175
temp view deleted. should be good to go for rdc long term maintenance. i do'nt plan to run the bulk update again.

will leave the issue open until all checkboxes are complete so that at that point we can officially say all indexes are completed and in the database.

[2019-04-23 16:48] adambreznicky commented on #175
insofar as training on the new table 'Photo Index Scanned LS4 Links', i already went over this briefly with @csidenblad so whenever @LaurenKirk wants a rundown just let me know. that ball is in your court. if @csidenblad wants a refresher at that time she can join, of course!

[2019-04-24 12:11] adambreznicky commented on #176
![IMG_20190424_070858](https://user-images.githubusercontent.com/5650145/56658426-3bf02c00-6660-11e9-8f8f-8abf5cb69c19.jpg)

[2019-04-24 15:30] adambreznicky commented on #176
![IMG_20190424_102408](https://user-images.githubusercontent.com/5650145/56672339-e9246d80-667b-11e9-954d-213e048add73.jpg)

[2019-05-03 13:24] adambreznicky commented on #176
resolved bf2f5ffd834b4e3c8450347e86a8b31a80813b27
tables created with domains and relationships. api endpoint created to access from frontend (last step outlined above) when the new tnris.org project is underway. all set up to start filling up the database

[2019-05-03 13:24] #176 closed

[2019-05-03 13:26] e00o commented on #176
Word. Let's party.

[2019-05-03 19:20] mitchellryant opened #186 "Map Weirdness"
Map tiles for area around Palestine does not show. Data is in S3, Resources are in DB. Missing tiles jump around to other parts of dataset but always Palestine.

Data was recently updates and resources re-run.

<img width="899" alt="Screen Shot 2019-05-03 at 2 17 12 PM 2" src="https://user-images.githubusercontent.com/8459928/57160413-576cdc80-6dae-11e9-9ec0-2ee9d6d1cd79.png">

[2019-05-07 12:36] adambreznicky commented on #186
@mitchellryant dataset name or uuid??
is this occuring only for this dataset, or all datasets that have resources for the area?

[2019-05-07 12:44] #161 closed

[2019-05-07 18:32] mitchellryant commented on #186
I have seen it in 2 collection so far
Neches and Upper Coast

[2019-05-07 18:53] adambreznicky commented on #186
api pagination was randomly duplicating records between response chunks. updated api to return ordered list so that response is consistent and doesn't duplicate

resolved d4b8732a2cecbcb14c7e7f19ceb7de3641542c25

[2019-05-07 18:53] #186 closed

[2019-05-09 20:10] csidenblad opened #187 "Unable to upload zip file on Order Form"
@adambreznicky @jwhaney @mitchellryant @JasonKleinert
Order form will not upload zip file when requesting partial coverage.
![image](https://user-images.githubusercontent.com/23489372/57483402-63541500-726c-11e9-9bb9-8ca5631fc25c.png)
![image](https://user-images.githubusercontent.com/23489372/57483416-6f3fd700-726c-11e9-9c24-a78a82f7ae7b.png)

[2019-05-09 20:17] #173 closed

[2019-05-10 14:51] adambreznicky commented on #187
tested and contact app worked locally, but not deployed.
i just rebuilt my local and redeployed it. seems to be working now.
i can only assume contact app must have been redeployed with bad secrets.

[2019-05-10 14:51] #187 closed

[2021-03-01 20:23] ctrepka opened #1 "ZoomTo collection footprint on hover in catalog"

[2021-03-01 20:24] ctrepka opened #2 "Filter downloads list to downloads for an area type when hovering over that area in the map"

[2021-03-01 20:25] ctrepka opened #3 "ZoomTo collection footprint on entering collection view"

[2021-03-01 20:27] ctrepka opened #4 "Create map legend displaying labels for different map highlights"
Geofilter, catalog hover, collection view layers, etc should have distinct colors / styles outlined in a map legend

[2021-03-01 20:28] ctrepka opened #5 "Only show pertinent county / quads / qquad in collection view"
Currently, all counties/quads display in the collection view. Only pertinent areas should display, as done in current datahub

[2021-03-01 20:41] ctrepka opened #6 "Add area-type-name to /resources endpoint view table"
Add endpoint to area-type-name to /resources endpoint view table for downloads list table

[2021-03-01 20:45] ctrepka opened #7 "Use new fileSystem API to allow download queue in Chrome-based browsers"
* https://developer.chrome.com/docs/extensions/reference/fileSystem/
* New updates to chrome fileSystem API may permit sufficient access to create a downloads queue to facilitate a downloads checklist interface in collections view

[2021-03-01 20:48] ctrepka opened #8 "Add basemap toggle to map pane"

[2021-03-01 20:48] ctrepka opened #9 "Add WMS preview toggle where appropriate"

[2021-03-01 20:50] ctrepka opened #10 "Add mapdraw search to map pane and synchronize with geofilter / url"

[2021-03-01 20:51] ctrepka opened #11 "Consume historical and contemporary datasets at single endpoint"

[2021-03-03 16:42] ctrepka commented on #6
# DONE
* Added sql to api ./database_management
* Added field to model

# TODO
* Run sql to overwrite materialized view "resource_management"
* Deploy Django changes to live

[2021-03-03 16:46] ctrepka commented on #10
# DONE
* Added mapdraw to map pane
* synchronized with URL
# TODO
* Fix issue where clearing geosearch returns to catalog page without any filters
** This may only be solved by persisting filters in session

[2021-03-03 16:51] ctrepka commented on #5
# DONE
* selected area-type in collection view download tab displays only area-type filtered to only areas with resources for given collection
* these areas are removed when returning to catalog

# TODO
* **_decision_** - should catalog highlights be removed when entering a collection view?
* **_decision_** - should search area boundary persist in collection view or only be displayed in the catalo

[2021-03-03 16:53] ctrepka commented on #11
Appears the historical and contemporary datasets have different fields by default. Were these normalized in current DataHub on client side? Filtering for these may become problematic in Django backend..

This may require creating a common schema for both types, which we can create in a materialized view at a separate endpoint.

[2021-03-03 17:56] ctrepka opened #12 "Reduce size of network requests"
* Network requests are quite large. After some time spent on the current app, 83.6mb was downloaded. That's about double Airbnb in roughly the same amount of time
* **Primary targets** for reduction in network cost are **image sizes** and **mvt tiles**.
* Right now, the catalog view pulls both quad, qquad, and county. Reduce to just county to examine cost reductions
* quad and qquad should load on

[2021-03-04 16:49] ctrepka opened #13 "Test and ensure accessibility of key aspects of data.tnris.org"
Given agency initiatives surrounding accessibility, use of ARIA tags and other key accessibility features will be better developed early than later. Some features of the new application will assist with this task, such as the download list (map objects are not easily made accessible to screen readers), but other aspects of the react application such as components mounting and unmounting will need

[2021-03-08 20:34] ctrepka opened #14 "Collection View "Back" button does not go to "home" if first page in browser history stack is from another website"
# Expected behavior:
**scenario 1**
navigate to data.tnris.org -> navigate to collection -> press back button -> takes you to home
**scenario 2**
copy link to collection into browser directly -> press back button -> takes you to home

# Actual behavior
**scenario 1**
as expected
**scenario 2**
goes to new tab page / previous page in browser history

# Suggested Solution
The current implementation

[2021-03-08 20:35] ctrepka commented on #6
Completed this task

[2021-03-08 20:35] #6 closed, assigned to nobody

[2021-03-08 20:55] ctrepka opened #15 "Add geometry of collection footprint to collection table"
# TODO

- [x] Create **area_type_geometry** table containing fields **area_type_id** and **geom**
- [x] Create **collection_footprint** table containing fields **collection_id** and **geom**
- [x] Add GeoDjango filter to collections endpoint that performs ENVELOPE query on collection footprints with bbox

---------------------------------------------------------------------------------------------

[2021-03-10 18:56] ctrepka opened #16 "Quick running list of tasks to complete"
Created a task list for one-off tasks required for the minimum-viable-product / beta of the app. @ yourself to assign yourself to a task and check it when complete

## Running Task List
- [x] Create collection footprints
- [x] Look into area_type tiles directly from postGIS @JasonKleinert
- [x] Geofilter connected to Django admin @ctrepka
- [x] Create WMS Link / Share collection tab
- [x] Create C

[2021-03-24 12:51] #5 closed, assigned to nobody

[2021-03-24 12:52] #3 closed, assigned to nobody

[2021-03-24 12:52] #1 closed, assigned to nobody

[2021-05-24 14:21] ctrepka opened #17 "Add Google Analytics 4"
- [x] #20

[2021-05-24 15:29] ctrepka commented on #12
- Resource areas populated via geojson to prevent polling mapserver on each zoom event
- Downloads list populated when an area is selected as opposed to all at once, reducing network call to api/v1/resources
- Downloads list cached via Recoil automatic cache as each resource is returned from the api

TO DO:

- [x]  reduce image sizes to thumbnail and use new web formats like webp

[2021-05-24 20:30] #11 closed, assigned to nobody

[2021-05-24 20:32] ctrepka commented on #2
used different solution for this problem.
When an area is clicked in the map or selected from a dropdown, the downloads for the selected areas are added to a list.

[2021-05-24 20:33] #2 closed, assigned to nobody

[2021-05-27 19:11] ctrepka opened #18 "Logan UI Improvements"
[DataHub_2.0_Notes.pdf](https://github.com/TNRIS/data.tnris.org/files/6556222/DataHub_2.0_Notes.pdf)

Lgsmiths suggestions regarding UI changes to betadata.tnris.org (dh_v2)

[2021-05-27 19:23] ctrepka commented on #18
- [x] * Reduce unused / purposeless whitespace on collection cards in catalog view by making image span the height of the card.
- [x] * Increase vertical whitespace between Category and Availability tags, reduce font-size to minimize unecessary use of space
- [x] * Use of consistent Title Casing for buttons and other action items
- [x] * Use of color to obviate action items and to make UI a little

[2021-06-07 21:14] #18 closed, assigned to ctrepka

[2021-07-02 13:42] ctrepka opened #19 "Add ids to important dom action elements"

[2021-07-02 13:42] ctrepka opened #20 "Add GA4"

[2021-07-02 13:43] #20 closed, assigned to nobody

[2021-07-02 13:44] ctrepka commented on #19
adding ids to dom elements for tracking of important click actions with Google Tag Manager

[2021-07-02 13:45] ctrepka opened #21 "Create data pipeline that generates collection footprint from area_type_geometry for each collection"

[2021-07-02 13:45] #15 closed, assigned to nobody

[2021-07-02 20:57] #9 closed, assigned to nobody

[2021-07-02 20:57] #8 closed, assigned to nobody

[2021-07-02 20:58] ctrepka commented on #4
No longer deemed necessary

[2021-07-02 20:58] #4 closed, assigned to nobody

[2021-07-02 20:58] #17 closed, assigned to ctrepka

[2021-09-08 13:29] #21 closed, assigned to nobody

[2021-09-08 13:30] ctrepka commented on #16
closing these issues, may reopen remaining items as enhancements

[2021-09-08 13:30] #16 closed, assigned to JasonKleinert, ctrepka

[2021-09-08 13:30] #12 closed, assigned to nobody

[2021-09-08 13:31] #10 closed, assigned to nobody

[2021-09-09 14:08] csidenblad opened #22 "Geocoder Extent returning non-intersecting collections"
When using 'Search by location bbox' several collections were returned that did not intersect with the extent of the AOI
![image](https://user-images.githubusercontent.com/23489372/132700970-e6cd6652-20e6-4a63-9fd5-e9f1512efc3b.png)

Good example would be Lake Athens. https://betadata.tnris.org/?map=true&pg=1&inc=24&geo=-95.7856702%2C32.1970145%2C-95.7190112%2C32.2335574&category=Lidar#7/31.262/-9

[2021-09-21 15:56] ctrepka commented on #22
@csidenblad yes, this is because the intersect query is run on the bounding box of the footprint geometry in the django backend. When developing we decided to use the in_bbox intersect query to produce snappier geosearches... admittedly a pretty big trade-off.

[2021-09-21 16:04] ctrepka commented on #22
I'll look into alternative geosearch queries, hopefully there is a simple and quick solution. I do believe this is a problem worth addressing.

[2021-09-21 16:18] ctrepka opened #24 "Add collection id as metadata field"
per user request, add collection id as metadata field. this will make it easier for users to extract the collection id for use with the bulk downloader

[2021-09-21 20:12] ctrepka commented on #22
confirmed today that this is possible and should be fast enough not to hinder ux.

can use the default filter behavior in django like ?the_geom__intersects(${geometry_as_wkt}). [this is for personal reference when I tackle the issue later].

The URL pattern on betadata.tnris.org will remain the same, only the backend query to django will be altered.

I will swap out the filtering mechanism next we

[2021-09-28 13:12] ctrepka commented on #22
Issue resolved, closing

[2021-09-28 13:12] #22 closed, assigned to ctrepka

[2021-09-28 15:53] ctrepka commented on #19
seems Google Analytics 4 already tracks downloads automatically, including the url where the download was clicked and the url of the item downloaded. This saves a lot of trouble.

Only other need might be form submissions. Could be a good idea to send form data to GA as an event on submit so we can track user metrics outside of the ticketing system / email.

[2021-10-19 20:20] ghost opened #25 "Lidar Blurb"
About Lidar Data
Lidar data for Texas is made available online through the use of data compression using <a href="https://rapidlasso.com/lastools/" target="_blank" rel="noopener noreferrer">LASTools</a>. LASTools is an open-source collection of tools for lidar data viewing and manipulation. Click <a href="https://cdn.tnris.org/data/lidar/tnris-lidar_48_vector.zip">here</a> to download a complete i

[2021-10-21 16:45] csidenblad opened #26 "Zip files not included in orders"
Orders coming in from datahub do not include uploaded zip file, instead they are listed as undefined.
![image](https://user-images.githubusercontent.com/23489372/138321563-b4be11ab-c085-477b-a21e-67f30baa2953.png)

[2021-10-22 14:44] ghost commented on #26
@csidenblad did they upload a file?
![image](https://user-images.githubusercontent.com/8459928/138483573-517d4df9-3043-48de-9780-af1b4cc9c91c.png)

[2021-10-22 14:51] ghost opened #27 "BBox into Collection Cards"
Could we investigate passing the bbox from the address or drawn search area into the collection card download map. So download map zooms that area.

[2021-10-25 16:24] #26 closed, assigned to ctrepka

[2021-10-25 17:52] #25 closed, assigned to ctrepka

[2021-10-26 19:13] ghost commented on #27
![image](https://user-images.githubusercontent.com/8459928/138945780-cb8a84ab-5563-43e4-9ef5-b345637b5306.png)

[2021-10-27 15:36] csidenblad opened #28 "Order Submission Confirmation"
add confirmation message when order has been completed and submitted.
Currently only shows that cart is empty after submission.

[2021-10-27 19:33] ctrepka commented on #27
I know I just demoed this yesterday, but I am wondering if it would be clearer to have a checkbox in the map pane that says something like "Search as I move the map" like in AirBnb rather than the bbox draw functionality.

As for the zooming when hovering on cards, I am thinking I will make this a right click functionality with a popup menu where options include
1. copy collection link
2. view col

[2021-10-28 14:02] ghost commented on #27
The "user feedback" has 2 question, and should be split into 2 issues (i think).

1. clear up draw a box -  Not clear how to draw the box, clicking on opposite corners is a shot in the dark, box just appears (not drawn as you go), map zooms out to extent of datasets on hover (keeps jumping around despite me being already zoomed in where I want).
2.  drawn bound box in collection card  - Box DISAPP

[2021-10-28 14:02] ghost commented on #27
I hope this helps!

[2021-10-28 14:07] ghost opened #29 "External Entity Cards"
The External Entity Cards have no resources to be downloaded or ordered. Could those Tabs not show on cards?

https://data.tnris.org/?inc=24&map=false&pg=1&availability=External+Link#5.5/31.33/-99.341
![image](https://user-images.githubusercontent.com/8459928/139271929-835f24b4-9d75-413b-abd6-4a208ac0f98a.png)

![image](https://user-images.githubusercontent.com/8459928/139272497-d2bb4aef-931f-42dc

[2021-10-28 14:11] ghost opened #30 "City of Lubbock and City of Austin"
The City of Lubbock and City of Austin external entity card are not drawing. These cards were changed from the download to the external entity template before the launch. not sure but that could have something to do with it.

![image](https://user-images.githubusercontent.com/8459928/139273093-afcf5a4f-af70-4f4a-9b30-1ff13d18b523.png)

[2021-10-28 15:00] ctrepka commented on #28
addressed by
https://github.com/TNRIS/data.tnris.org/commit/1dad3b0c08f054310b2297a28f82e52e295a37c9

[2021-10-28 15:00] #28 closed, assigned to ctrepka

[2021-10-28 15:48] ghost commented on #30
I added Categories to the metadata, they were missing when card was converted from download to outside-entity.

[2021-10-28 15:48] #30 closed, assigned to nobody

[2021-10-28 17:35] ghost commented on #29
More Detail.
This guy placed an order from the Texas Dept. of Transportation
![image](https://user-images.githubusercontent.com/8459928/139304154-e2c5dbcd-d7b3-46b4-9899-2e862bc23736.png)

![image](https://user-images.githubusercontent.com/8459928/139305977-f27d3da8-b876-4d9a-b241-ab40e09fb750.png)

[2021-10-29 14:47] ctrepka commented on #29
Fixed by https://github.com/TNRIS/data.tnris.org/commit/ec05a4874c60f8dfa6f612b065a8f38a32684f46

[2021-10-29 14:47] #29 closed, assigned to ctrepka

[2021-11-01 15:25] ghost opened #31 "Blacklist Error Message"
Current message:
`
"why you blowin' up our spot? excessive and suspicious request activity has been identified. contact us about your operations and intentions to regain access. tnrisdatasupport@twdb.texas.gov"`

Suggestions:
Maybe adding standard sentence case.
Maybe a high level desc of what and why it is happening.
Maybe telling them the subject to use in the email to tnrisdatasupport@twdb.texa

[2021-11-08 14:23] #31 closed, assigned to ctrepka

[2021-11-08 14:31] ctrepka commented on #27
Addressed a few issues which I think were mentioned in this ticket

1. Reduce zoom / pan animations - too much motion
2. Reduce zoom / pan animations - automatic panning overrides agency of end-user
3. Maintain search boundary in collection metadata view - search boundary was previously removed and lost the context of the search
4. Maintain zoom from catalog in collection metadata view - zooming t

[2021-11-08 14:31] #27 closed, assigned to ctrepka

[2021-11-08 14:43] #19 closed, assigned to ctrepka

[2021-11-12 15:45] #7 closed, assigned to nobody

[2021-11-12 15:45] #13 closed, assigned to nobody

[2021-12-06 17:13] csidenblad opened #33 "Acquisition Date included for Historic Imagery Requests"
Please include 'Acquisition Date' for all dataset requests submitted through DataHub.
Please include the 'From Date' within LORE as the 'Acquisition Date' for each Historical Request. This was how the orders would come in prior to the switch to V2.

 V1 Submitted Ticket
![image](https://user-images.githubusercontent.com/23489372/144890693-af331f3b-c731-48a3-bfa0-ed997bdb26b5.png)

VS. Current V2 T

[2022-01-26 17:57] ctrepka commented on #33
Added in https://github.com/TNRIS/data.tnris.org/commit/8325a9c7d37ce5b111e19c15958e94751f6a7720

[2022-01-26 17:57] #33 closed, assigned to csidenblad, ctrepka

[2022-02-09 20:23] csidenblad opened #36 "Add 'Buildings' category to collections/filtering"
Hey @ctrepka . We are close to uploading the 3dbuilding datasets as assets to their corresponding lidar collections. Management would like an easy way to identify these collections within the DataHub. One suggestion made was to add another category within the API in the Lookup/Relate Associations.
![image](https://user-images.githubusercontent.com/23489372/153283525-1827f119-5475-4ad3-8ddd-fd46f6b

[2022-02-09 20:44] ghost commented on #36
@csidenblad

This is done with out a GitHub Request.
![image](https://user-images.githubusercontent.com/8459928/153286628-02fee253-2cbf-487f-888d-898dbdc348f4.png)

[2022-02-09 20:48] csidenblad commented on #36
@mitchellryant I don't have access to the Category Types. Can you please add it for me? I only have access to Collection Footprints and Dataset Collections tables.

[2022-02-09 20:58] ghost commented on #36
Yes i can.

But are **Buildings** a **Category** or are they a derivative product of the Lidar they were created from?

[2022-02-09 21:07] csidenblad commented on #36
Thank you @mitchellryant

they are a derivative product of the lidar but FR and GM would like to have some sort of mention of the buildings on the data cards. The only info currently on the data cards are collection name, date, category, and availability.

[2022-02-09 21:18] ghost commented on #36
The downloads will be here.
![image](https://user-images.githubusercontent.com/8459928/153290677-2c6f5184-bd0f-4694-863a-bb0b6d67037e.png)
Text can be added to the Description that building are available, here.
Like  **Buildings created from this Lidar collection available in Supplemental Downloads.**
![image](https://user-images.githubusercontent.com/8459928/153290928-25c80cea-1289-4626-8d7c-11d7

[2022-02-28 21:14] ghost opened #40 "Online Mapping Services Text"
online mapping services text has an incorrect link. on both imagery and feature based collection cards. missing the REST portion of the URL.

Feature
![image](https://user-images.githubusercontent.com/8459928/156058249-1dd16f10-dfdb-4087-a6b6-fbf163db6c26.png)
https://feature.tnris.org/arcgis/services **instead of** https://feature.tnris.org/arcgis/rest/services

Imagery
![image](https://user-imag

[2022-05-06 12:11] ghost opened #44 "Add Bathymetry Catergory"
Can we add the Bathymetry category to the front end UI drop down?

Category has been added to API

![image](https://user-images.githubusercontent.com/8459928/167128826-7b4da53e-2780-493b-8b62-8056ced3e867.png)

[2022-05-26 14:52] ghost opened #45 "Contact form"
Is it possible to add a space between first and last name when the question is submitted?

![image](https://user-images.githubusercontent.com/8459928/170508393-a6c11aa2-8050-4635-a8ff-5ac78740f707.png)

![image](https://user-images.githubusercontent.com/8459928/170504127-222b683a-9e77-40a5-8e0c-5db3859edabd.png)

[2022-05-26 14:55] #36 closed, assigned to csidenblad

[2022-11-10 14:43] ghost opened #51 "Add S3 URI and Site for Download Template."
Im looking to add the S3 location to the [data.tnris.org](https://data.tnris.org/collection?c=a6a703ba-df8b-4d1b-8d4c-ece8ae786505#4.89/31.32/-100.12) download template.

S3 site ex. - `https://tnris-data-warehouse.s3.us-east-1.amazonaws.com/index.html?prefix=LCD/collection/`
S3 URI ex. - `s3://tnris-data-warehouse/LCD/collection/`
S3 Key ex - `stratmap-2010-1m-lee-leon-madison-milam/`

To do this

[2022-11-10 14:44] #44 closed, assigned to ctrepka